.col {
  overflow: auto; }

.curated {
  margin: 2em auto;
  width: 70%; }

.curated .block {
  border-width: 0em;
  cursor: pointer; }

.block.h20 {
  height: 20em; }

.clear {
  margin-top: 1em;
  clear: both; }

.w50 {
  width: 50%;
  float: left; }

.block-nav {
  position: fixed;
  top: 5em;
  right: 5em; }

.block-nav p {
  cursor: pointer;
  padding: 1em 2em;
  color: #4CE6A6;
  border-size: 1em;
  border-style: solid;
  display: none; }

.head {
  display: none; }

.block {
  height: 10em;
  background-color: #666;
  border-width: 2%;
  border-style: solid;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.full {
  width: 96%;
  margin-top: 2em; }

.open {
  height: 50em;
  width: 110%;
  margin-left: -5%;
  background-color: #FFF !important; }
