
.icon-angle-left:before { content: '\e802'; } /* '' */
.icon-angle-right:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-left-open-mini:before { content: '\e805'; } /* '' */
.icon-right-open-mini:before { content: '\e804'; } /* '' */
.icon-left-open-big:before { content: '\e803'; } /* '' */
.icon-right-open-big:before { content: '\e800'; } /* '' */