/*****************************************************************************/
/*
/* ENTRIES
/*
/*****************************************************************************/
article {
  font-size: 1.25em;
  line-height: 1.75em; }

.entry-sort {
  height: 1em;
  padding: .5em 0em;
  font-size: .9em;
  font-family: 'Lato', sans-serif;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  margin: 0em auto;
  width: 10.5em; }

.entry-sort.meta {
  width: 25em; }

.sort-opt .selected {
  color: #333; }

.sort-opt {
  padding-right: 1em;
  line-height: .9em; }

.entry-sort.meta .sort-opt {
  width: 6em; }

.sort-opt:last-child {
  padding-right: 0em; }

.entry {
  margin: .5em 0em;
  padding: .3em .1em;
  border-bottom: 2px dotted #F0F0F0; }

.quote {
  margin: 1em 10%;
  padding: 2em;
  color: #AAA;
  height: 10em; }

.quote .mark {
  font-size: 15em;
  color: #F0F0F0;
  position: relative;
  z-index: -1; }

.quote .mark_left {
  bottom: -.39em;
  left: -1.2em; }

.quote .mark_right {
  bottom: 0.15em;
  left: 1em; }

article a {
  background-color: #333;
  color: #FFF;
  padding: 0em 5px; }

article .font-small {
  font-size: .8em;
  line-height: 1.2em; }

img {
  width: 100%; }
