
.icon-home:before { content: '\e802'; } /* '' */
.icon-left-open-big:before { content: '\e800'; } /* '' */
.icon-right-open-big:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */