* {
  margin: 0;
  padding: 0; }

html {
  font-size: 18px; }

body {
  font-size: 100%;
  line-height: 1.61803;
  background: #f7f7f7;
  color: #222222; }

header {
  font-family: "effra", Helvetica, Arial, sans-serif;
  font-weight: bold; }

ul {
  list-style-type: none; }

a {
  padding-bottom: 2px;
  border-bottom: 1px solid #0074d9;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
  text-decoration: none;
  color: inherit; }

a:hover {
  padding-bottom: 0px;
  border-bottom: 0px solid transparent;
  color: #0074d9; }

a:visted {
  color: inherit; }

div {
  overflow: auto; }

img {
  display: block;
  margin: 0 auto; }

article h1 {
  font-size: 3em;
  /* 48 */
  line-height: 1em;
  /* 48 */
  margin: 1em auto .5em;
  font-family: "acta-display";
  color: #888888;
  font-style: italic;
  text-align: center;
  margin: 1.5em auto 1em;
  width: 12.6667em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media screen and (max-width: 767px) {
    article h1 {
      width: 80%; } }

nav {
  margin: 2em auto;
  width: 22em;
  overflow: auto;
  font-family: "effra", Helvetica, Arial, sans-serif; }
  nav a {
    border: 0px solid transparent; }
  nav li {
    float: left;
    margin-right: 3em; }
  nav li:last-child {
    margin-right: 0em; }
  nav li a {
    color: #AAA;
    text-decoration: none; }
  nav nav li a:hover {
    color: #333;
    text-shadow: 0px 0px 2px #e6e8ec; }

p {
  font-size: 1em;
  /* 16 */
  line-height: 1.5em;
  /* 24 */
  font-family: "merriweather", Palantino, Georgia, serif;
  width: 36em;
  margin: 0 auto 1.5em; }
  @media screen and (max-width: 767px) {
    p {
      width: 80%; } }

h1 {
  text-align: center;
  font-size: 1.5em;
  /* 48 */
  width: 20em;
  color: #e6e8ec;
  line-height: 1em;
  /* 48 */
  font-family: "acta-display";
  margin: 2em auto; }
  @media screen and (max-width: 767px) {
    h1 {
      width: 80%; } }

h2 {
  font-size: 1.5em;
  /* 24 */
  line-height: 1em;
  /* 24 */
  margin: 4em 0em 2em;
  font-family: "effra", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  width: 25.3333em;
  color: #0074d9; }

h3, h4, h5, h6 {
  font-size: 1em;
  /* 16 */
  line-height: 1.5em;
  /* 24 */
  font-family: "effra", Helvetica, Arial, sans-serif; }

small {
  font-size: 0.7em;
  line-height: 1.714285714em;
  text-align: center;
  margin: 1em auto 2em;
  display: block;
  color: #888888;
  font-weight: 200;
  font-family: "effra", Helvetica, Arial, sans-serif; }

pre {
  width: 36em;
  margin: 4em auto;
  padding: 2em; }

ul, ol {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 auto 1.5em;
  width: 36em; }

footer {
  width: 100%;
  overflow: auto; }
  footer a {
    color: #0074d9;
    border: 0px solid transparent; }
  footer p {
    width: 100%;
    text-align: center;
    font-size: .75em;
    margin: 1.714285714em auto;
    color: #AAA;
    font-family: "effra", Helvetica, Arial, sans-serif; }

hr {
  color: #888888;
  margin: 4em auto;
  width: 36em; }

#post nav li {
  position: fixed;
  margin: 0em;
  line-height: 1.3333em; }

.nav {
  top: 40%;
  font-size: 2.25em; }

nav .next {
  right: 0em; }

nav .previous {
  left: 0em; }

nav .home {
  font-size: 1.5em;
  bottom: .6667em;
  left: .6667em; }

#post svg {
  display: block;
  margin: 1em auto 4em; }

.no-margin {
  margin: 0em; }

.space {
  padding: 1em 0em; }

.grid-item {
  height: 16em;
  padding: 2em;
  float: left;
  cursor: pointer; }

.grid-item img {
  height: 100%; }

.first-paragraph {
  margin-top: 4em; }

.first-paragraph:first-letter {
  font-size: 3em;
  font-family: "acta-display";
  padding: .6667em  .3333em;
  margin-right: .3333em;
  margin-left: 0em;
  float: left;
  color: #FFF;
  background-color: #0074d9; }

.illustration h1 {
  display: none;
  left: 50%;
  position: absolute; }

.illustration .container {
  overflow: initial;
  width: 16em;
  margin: 6em auto 3em;
  position: relative; }

.illustration .option {
  position: absolute; }

.head {
  width: 100%; }

.gears {
  position: absolute;
  display: none;
  height: 23em;
  width: 32em;
  overflow: auto;
  -webkit-transform: scale(0.2);
  top: -7em;
  left: -10em; }

.gear {
  position: absolute; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.gear.large {
  left: 15em;
  top: 2.5em;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite; }

.gear.medium {
  top: 1em;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite; }

.gear.small {
  top: 12em;
  left: 6em;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse; }

@-moz-keyframes reverse {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes reverse {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes reverse {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.bubble {
  display: none;
  top: 9em;
  right: -6em;
  width: 6em; }

footer #mc_embed_signup form {
  font-family: "effra", Helvetica, Arial, sans-serif;
  text-align: left;
  margin-bottom: 2em;
  overflow: auto;
  width: 32em;
  margin: 0 auto 4em;
  padding: 19px 0 10px 3%; }

#mc_embed_signup label {
  font-family: "effra", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #CCC; }

#mc_embed_signup #mc-embedded-subscribe-form input.email {
  padding: 8px 0;
  font-size: 1em;
  font-family: "effra", Helvetica, Arial, sans-serif;
  float: left;
  clear: none;
  margin: 0em;
  border: 0px solid #999;
  width: 25em; }
  @media screen and (max-width: 767px) {
    #mc_embed_signup #mc-embedded-subscribe-form input.email {
      width: 80%; } }

#mc_embed_signup #mc-embedded-subscribe-form input.button {
  display: block;
  line-height: 2.5em;
  border-radius: 0;
  height: auto;
  float: left;
  clear: none;
  width: 10%;
  font-family: "effra", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  background-color: #888888;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear; }
  @media screen and (max-width: 767px) {
    #mc_embed_signup #mc-embedded-subscribe-form input.button {
      width: 80%; } }

#mc_embed_signup #mc-embedded-subscribe-form input.button:hover {
  background-color: #0074d9; }

.twitter-share-button {
  color: #AAA;
  border-bottom: 0px solid transparent;
  padding: 0em;
  font-family: "effra", Helvetica, Arial, sans-serif;
  margin: 7em auto 0em;
  display: block;
  text-align: center; }
  .twitter-share-button p {
    margin-top: .5em; }

.posts {
  margin-top: 4em;
  font-size: 1em;
  line-height: 4em;
  font-family: "merriweather", Palantino, Georgia, serif;
  width: 25.3333em; }

.cursor-pointer {
  cursor: pointer; }

.font-small {
  font-size: .875em;
  line-height: 1.71em; }

article h1:hover {
  color: #222222; }

.dark {
  background-color: #222222;
  color: #f7f7f7; }

.bold {
  font-weight: bold; }

#typed-cursor {
  display: none; }

.posts a {
  border: 0px solid transparent; }

.twitter-share-button .icon-twitter {
  font-size: 4em; }
