* {
  margin: 0;
  padding: 0; }

html {
  font-size: 18px; }

body {
  font-size: 100%;
  line-height: 1.61803;
  background: #f7f7f7;
  color: #222222; }

header {
  font-family: "effra", Helvetica, Arial, sans-serif;
  font-weight: bold; }

ul {
  list-style-type: none; }

a {
  padding-bottom: 2px;
  border-bottom: 1px solid #ce904e;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
  text-decoration: none;
  color: inherit; }

a:hover {
  padding-bottom: 0px;
  border-bottom-color: transparent;
  color: #ce904e; }

a:visted {
  color: inherit; }

div {
  overflow: auto; }

img {
  display: block;
  margin: 6em auto; }

article h1 {
  font-size: 3em;
  /* 48 */
  line-height: 1em;
  /* 48 */
  margin: 1em auto .5em;
  font-family: "acta-display";
  color: #364147;
  font-style: italic;
  text-align: center;
  margin: 1.5em auto 1em;
  width: 12.6667em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media screen and (max-width: 767px) {
    article h1 {
      width: 80%; } }

nav {
  margin: 2em auto;
  width: 22em;
  overflow: auto; }
  nav a {
    border: 0px solid transparent; }
  nav li {
    float: left;
    font-family: "effra", Helvetica, Arial, sans-serif;
    margin-right: 3em; }
  nav li:last-child {
    margin-right: 0em; }
  nav li a {
    color: #AAA;
    text-decoration: none; }
  nav nav li a:hover {
    color: #364147;
    text-shadow: 0px 0px 2px #e6e8ec; }

p {
  font-size: 1em;
  /* 16 */
  line-height: 1.5em;
  font-family: "freight-text-pro", Palantino, Georgia, serif;
  width: 36em;
  margin: 0 auto 1.5em; }
  @media screen and (max-width: 767px) {
    p {
      width: 80%; } }

h1 {
  text-align: center;
  font-size: 1.5em;
  /* 48 */
  width: 20em;
  color: #e6e8ec;
  line-height: 1em;
  /* 48 */
  font-family: "acta-display";
  margin: 2em auto; }
  @media screen and (max-width: 767px) {
    h1 {
      width: 80%; } }

h2 {
  font-size: 1.5em;
  /* 24 */
  line-height: 1em;
  /* 24 */
  margin: 4em auto 2em;
  font-family: "effra", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  width: 24em;
  color: #364147; }

h3, h4, h5, h6 {
  font-size: 1em;
  /* 16 */
  line-height: 1.5em;
  /* 24 */
  font-family: "effra", Helvetica, Arial, sans-serif; }

small {
  font-size: 0.8em;
  line-height: 1.714285714em;
  margin: 2em 0em;
  text-align: center;
  display: block;
  font-style: italic;
  color: #9C9C9C;
  font-weight: 200;
  font-family: "freight-text-pro", Palantino, Georgia, serif; }

img + small {
  margin: -6em auto 6em; }

pre {
  width: 36em;
  margin: 4em auto;
  padding: 2em; }

ul, ol {
  font-size: 1em;
  font-family: "freight-text-pro", Palantino, Georgia, serif;
  line-height: 1.5em;
  margin: 0 auto 1.5em;
  width: 36em; }

footer {
  width: 100%;
  overflow: auto; }
  footer a {
    color: #ce904e;
    border: 0px solid transparent; }
  footer p {
    width: 100%;
    text-align: center;
    font-size: .75em;
    margin: 1.714285714em auto;
    color: #AAA;
    font-family: "inconsolata"; }

hr {
  color: #666666;
  margin: 4em auto;
  width: 36em; }

#post nav li {
  position: fixed;
  margin: 0em; }

.nav {
  top: 40%;
  font-size: 2.25em; }

nav .next {
  right: 0em; }

nav .previous {
  left: 0em; }

nav .home {
  font-size: 1.5em;
  bottom: .6667em;
  left: .6667em; }

.l-font-center {
  text-align: center; }

#post svg {
  display: block;
  margin: 1em auto 4em; }

.no-margin {
  margin: 0em; }

.space {
  padding: 1em 0em; }

.l-center {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.l-col-3 {
  -webkit-columns: 3;
  -moz-columns: 3;
  -ms-columns: 3;
  -o-columns: 3;
  columns: 3; }

.grid-item {
  height: 16em;
  padding: 2em;
  float: left;
  cursor: pointer; }

.grid-item img {
  height: 100%; }

.first-paragraph {
  margin-top: 4em; }

.first-paragraph:first-letter {
  font-size: 3em;
  font-family: "acta-display";
  padding: .6667em  .3333em;
  margin-right: .3333em;
  margin-left: 0em;
  float: left;
  color: #FFF;
  background-color: #364147; }

.illustration h1 {
  font-family: 'freight-display-pro';
  width: 100%;
  text-align: center;
  position: absolute; }
.illustration .container {
  overflow: initial;
  width: 16em;
  margin: 8em auto 3em;
  position: relative; }
.illustration .option {
  position: absolute; }

.head {
  width: 100%; }

.gears {
  position: absolute;
  display: none;
  height: 26em;
  width: 32em;
  -webkit-transform: scale(0.2);
  top: -9em;
  left: -10em;
  overflow: initial; }

.gear {
  position: absolute; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.gear.large {
  left: 15em;
  top: 2.5em;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite; }

.gear.medium {
  top: 1em;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite; }

.gear.small {
  top: 12em;
  left: 6em;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse; }

@-moz-keyframes reverse {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes reverse {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes reverse {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.bubble {
  display: none;
  top: 2.5em;
  right: -6.5em;
  width: 6em; }

footer #mc_embed_signup form {
  font-family: "effra", Helvetica, Arial, sans-serif;
  text-align: left;
  margin-bottom: 2em;
  overflow: auto;
  width: 36em;
  margin: 0 auto 4em;
  padding: 1em 0em; }

#mc_embed_signup label {
  font-family: "effra", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #CCC; }

#mc_embed_signup #mc-embedded-subscribe-form input.email {
  padding: 8px 0;
  font-size: 1em;
  font-family: "effra", Helvetica, Arial, sans-serif;
  float: left;
  clear: none;
  margin: 0em;
  border: 0px solid #999;
  width: 31em; }
  @media screen and (max-width: 767px) {
    #mc_embed_signup #mc-embedded-subscribe-form input.email {
      width: 80%; } }

#mc_embed_signup #mc-embedded-subscribe-form input.button {
  display: block;
  line-height: 2.5em;
  border-radius: 0;
  height: auto;
  float: left;
  clear: none;
  width: 2em;
  font-family: "effra", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  background-color: #364147;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear; }
  @media screen and (max-width: 767px) {
    #mc_embed_signup #mc-embedded-subscribe-form input.button {
      width: 80%; } }

#mc_embed_signup #mc-embedded-subscribe-form input.button:hover {
  background-color: #ce904e; }

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup form {
  display: block;
  position: relative;
  text-align: left;
  padding: 10px 0 10px 3%; }

#mc_embed_signup h2 {
  font-weight: bold;
  padding: 0;
  margin: 15px 0;
  font-size: 1.4em; }

#mc_embed_signup input {
  border: 1px solid #999;
  -webkit-appearance: none; }

#mc_embed_signup input[type=checkbox] {
  -webkit-appearance: checkbox; }

#mc_embed_signup input[type=radio] {
  -webkit-appearance: radio; }

#mc_embed_signup input:focus {
  border-color: #333; }

#mc_embed_signup .button {
  clear: both;
  background-color: #aaa;
  border: 0 none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto; }

#mc_embed_signup .button:hover {
  background-color: #777; }

#mc_embed_signup .small-meta {
  font-size: 11px; }

#mc_embed_signup .nowrap {
  white-space: nowrap; }

#mc_embed_signup .clear {
  clear: none;
  display: inline; }

#mc_embed_signup label {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold; }

#mc_embed_signup input.email {
  display: block;
  padding: 8px 0;
  margin: 0 4% 10px 0;
  text-indent: 5px;
  width: 58%;
  min-width: 130px; }

#mc_embed_signup input.button {
  display: block;
  width: 35%;
  margin: 0 0 10px 0;
  min-width: 90px; }

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em .5em 0em .5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both; }

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%; }

#mc_embed_signup #mce-error-response {
  display: none; }

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none; }

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0; }

.twitter-share-button {
  color: #AAA;
  border-bottom: 0px solid transparent;
  padding: 0em;
  font-family: "effra", Helvetica, Arial, sans-serif;
  margin: 7em auto 0em;
  display: block;
  text-align: center; }
  .twitter-share-button p {
    margin-top: .5em; }

.blog {
  margin-top: 4em;
  font-size: 1em;
  font-family: "freight-text-pro", Palantino, Georgia, serif; }
  .blog li {
    color: #666666; }
    .blog li .type {
      text-align: right;
      float: right;
      font-family: 'inconsolata';
      font-size: .8em;
      text-transform: uppercase;
      line-height: 3em; }
    .blog li a {
      border-width: 0px;
      line-height: 3em;
      transition: none; }
    .blog li a:hover {
      color: #ce904e; }

.work article {
  margin-top: 4em; }
.work img {
  width: 36em; }
.work nav ul .home {
  top: 1em;
  left: 1em;
  font-size: 1.1em; }
.work nav ul .home a {
  height: .5em;
  line-height: .6em;
  padding: .2em .5em .2em .15em;
  color: #666666; }
  .work nav ul .home a i {
    font-size: 0.7em;
    position: relative; }
.work nav ul .home a:hover {
  color: #ce904e; }

img.m-img-large {
  width: 70%; }

.svg-container {
  width: 22.5em;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

img#svg-tablet {
  position: relative;
  z-index: 100;
  width: 100%; }

#newsItem, #svg-background {
  position: absolute;
  top: 1.7em;
  left: 3%;
  width: 94.5%; }

#newsItem {
  z-index: 99;
  -webkit-animation: newsItem 16s infinite;
  -moz-animation: newsItem 16s infinite;
  -o-animation: newsItem 16s infinite;
  animation: newsItem 16s infinite; }

#svg-active {
  position: absolute;
  width: 94.5%;
  top: 7.2em;
  left: 2.4%;
  z-index: 99;
  -webkit-animation: slider 16s infinite;
  -moz-animation: slider 16s infinite;
  -o-animation: slider 16s infinite;
  animation: slider 16s infinite; }

#svg-5 {
  position: absolute;
  width: 65.25%;
  top: 7.38em;
  left: 3%;
  z-index: 97;
  opacity: 0;
  -webkit-animation: min5 16s infinite;
  -moz-animation: min5 16s infinite;
  -o-animation: min5 16s infinite;
  animation: min5 16s infinite; }

#svg-10 {
  position: absolute;
  width: 65.25%;
  top: 7.38em;
  left: 3%;
  z-index: 98;
  opacity: 0;
  -webkit-animation: min10 16s infinite;
  -moz-animation: min10 16s infinite;
  -o-animation: min10 16s infinite;
  animation: min10 16s infinite; }

.animated-img {
  position: absolute; }

@-webkit-keyframes newsItem {
  0%,100%,35% {
    -webkit-transform: translate3d(100%, 0, 0); }

  40%,86% {
    -webkit-transform: translate3d(0%, 0, 0); } }

@-webkit-keyframes min10 {
  0%,100%,28% {
    opacity: 0; }

  32%,45% {
    opacity: 1; } }

@-webkit-keyframes min5 {
  0%,100%,23% {
    opacity: 0; }

  28%,42% {
    opacity: 1; } }

@-webkit-keyframes slider {
  0%,100%,15% {
    -webkit-transform: translate3d(0%, 0, 0); }

  20%,23% {
    -webkit-transform: translate3d(23%, 0, 0); }

  28% {
    -webkit-transform: translate3d(47%, 0, 0); }

  32%,40%,60% {
    -webkit-transform: translate3d(70%, 0, 0); }

  70% {
    -webkit-transform: translate3d(0%, 0, 0); } }

@-webkit-keyframes finger {
  0%,100% {
    -webkit-transform: translate3d(50%, 0, 0) scale(1.1); }

  12% {
    -webkit-transform: translate3d(20%, -100%, 0) scale(1.1); }

  15% {
    -webkit-transform: translate3d(20%, -100%, 0) scale(0.98); }

  20%,23% {
    -webkit-transform: translate3d(41%, -100%, 0) scale(0.98); }

  28% {
    -webkit-transform: translate3d(62%, -100%, 0) scale(0.98); }

  32% {
    -webkit-transform: translate3d(83%, -100%, 0) scale(0.98); }

  40%,80% {
    -webkit-transform: translate3d(50%, 0, 0) scale(1.1); }

  85% {
    -webkit-transform: translate3d(5%, -30%, 0) scale(1.1); }

  86% {
    -webkit-transform: translate3d(1%, -35%, 0) scale(0.9); }

  87% {
    -webkit-transform: translate3d(5%, -30%, 0) scale(1.1); } }

.work img#svg-finger {
  -webkit-animation: finger 16s infinite;
  -moz-animation: finger 16s infinite;
  -o-animation: finger 16s infinite;
  animation: finger 16s infinite;
  z-index: 100;
  position: absolute;
  top: 75%;
  width: 22em; }

img.m-full {
  width: 100%; }

.cursor-pointer {
  cursor: pointer; }

h1.about {
  z-index: 100;
  font-family: 'inconsolata';
  font-size: 1em;
  line-height: 1.5em;
  width: 22em;
  margin-top: 3em;
  left: 50%;
  text-align: left; }

.s-dark {
  color: #e6e8ec;
  background: #364147; }

.s-headphones {
  width: 5em;
  position: absolute;
  top: -6em;
  left: 2.3em; }

.font-small {
  font-size: .875em;
  line-height: 1.71em; }

article h1:hover {
  color: #222222; }

.bold {
  font-weight: bold; }

#typed-cursor {
  display: none; }

.posts a {
  border: 0px solid transparent; }

.twitter-share-button .icon-twitter {
  font-size: 4em; }
