---
layout: default
title: The Digital Playground of Duncan Graham
---

<div class="col12 margin1 space-top8">
    <h3>Hey, I'm Duncan Graham.</h3>
    <p>I like building communities and products. I went to school to be an architect, but those plans got side tracked when I built <a href='http://www.washingtonpost.com/business/capitalbusiness/business-rx-to-get-people-out-of-the-dorm-these-students-first-need-to-get-them-on-their-site/2011/11/30/gIQAhxW1nO_story.html'>an event aggregator with some friends in my free time</a> and realized how much I loved designing about building digital stuff.</p>



    <p class='space-top1'>
        
    </p>
</div>
<div class="col5 margin1 space-top3">

<h3>Writing</h3>
<ul id="blog" class="head-anim">
    {% for post in site.tags.writing limit:5 %}
    <li>
        <a class="{{ post.type }} {{ post.date | date: "%m%d%Y" }} entry" href="{{ post.url }}">
            <span> {{ post.title }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
<a class="m-view-all" href="/writing.html">View More</a>

<h3>Experiments</h3>
<ul>
    {% for post in site.tags.experiment limit:5 %}
    <li>
        <a class="{{ post.type }} {{ post.date | date: "%m%d%Y" }} entry" href="{{ post.url }}">
            <span> {{ post.title }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
<a class="m-view-all" href="/experiments.html">View More</a>
</div>


<div class="col5 margin1 space-top3">
<h3>Projects</h3>
<ul>
    {% for post in site.tags.work limit:5 %}
    <li>
        <a class="{{ post.type }} {{ post.date | date: "%m%d%Y" }} entry" href="{{ post.url }}">
            <span> {{ post.title }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
<a class="m-view-all" href="/projects.html">View More</a>

<h3 class="misc">Miscellanies</h3>
<ul>
    <li>
        <a class="entry" href="/visuals.html">
            <span>Visuals</span>
        </a>
    </li>
    <li>
        <a class="entry" href="/canon.html">
            <span>My Canon</span>
        </a>
    </li>
    <li>
        <a class="entry" href="http://quotidiens.dvncan.com/">
            <span>Quotidiens</span>
        </a>
    </li>
    <li>
        <a class="entry" href="/ideas.html">
            <span>Ideas on the Backburner</span>
        </a>
    </li>
    <li>
        <a class="entry" href="/books.html">
            <span>Books Read</span>
        </a>
    </li>
</ul>
</div>
