body {
	margin: 0px;
  padding: 0px;
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}

#zoom-level {
  /*margin: 10px;*/
  padding: 10px;
  position: absolute;
  /*right: 100;*/
  /*top:10;*/
  z-index: 1000;
  background: #ddd;
}

.leaflet-control-layers-expanded {
  width: 130px;
}

.leaflet-control-zoom {
  clear: none;
}

.legend{
  width: 130px;
  background: white;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-radius: 3px;
  padding: 6px 10px 6px 6px;
}

.title{
  font-size: 6em;
  font-family: 'Fredoka One', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0px 0px 5px white;
  border-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 20px 10px 10px 10px;
  clear: none;
}

.infoControl {
  background: white;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-radius: 3px;
  padding: 6px 10px 6px 6px;
  margin-right: 0px;
}

.circle {
	width: 10px;
    height: 10px;
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    border-radius: 50%;
    margin-right: 5px;
}

.branca{
	background: rgb(255, 194, 120);
}
.preta{
	background: rgb(0, 0, 0);
}
.amarela{
	background: rgb(255, 255, 0);
}
.parda{
	background: rgb(202, 25, 25);
}
.indigena{
	background: rgb(0, 200, 0);
}