        body { margin:0; padding:0; }
        #map { position:absolute; top:80px; bottom:0; right: 300px; width:100%; }
        /* The window containing the marker overlay */
        #markerinfo {
              position: absolute; top: 80px; right: 0;
              bottom: 0; width: 258px; background:#fff; color: #000;
              padding: 1px 20px;
              border-left: 3px solid #fff;
              font-family: 'Montserrat', sans-serif;
        }

        body.nosidebar #markerinfo {
            display: none;
        }

        body.nosidebar #map {
            right: 0;
        }

        #disqus_thread {
            margin-top: 85px;
        }

        /* Styling for zoomer */
        #map .leaflet-control-container .leaflet-top {
            left: 555px;
        }

        body.nosidebar #map .leaflet-control-container .leaflet-top {
            left: 255px;
        }

        /*Styling for popup*/
        .popup {
            text-align: center;
        }

         #buttonCloser {
            text-decoration: none;
        }

        /* Styling for 'add point' button */
        #button {
            text-decoration: none;
            color: #81c241;
            font-size:16px;
            font-weight: normal;
        }

        #button a{
            padding: 1px;
        }

        #buttoncontainer {
            background-color:#FFF;
            border-radius:1px;
            display:inline-block;
            color:#000;
            font-family:'Montserrat', sans-serif;
            font-size:15px;
            font-weight:bold;
            padding:4px;
            text-decoration:none;
            position: absolute;
            top: 90px;
            right:310px;
        }

        body.nosidebar #buttoncontainer {
            right: 10px;
        }

        #buttoncontainer a:hover{
            /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ebf1f5), color-stop(1, #c1d4e8) );
            background:-moz-linear-gradient( center top, #ebf1f5 5%, #c1d4e8 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f5', endColorstr='#c1d4e8');
            background-color:#ebf1f5;*/
            background-color:#81c241;
            color:#FFF;
            /*padding:3px;*/
        }

        #formcontainer{
            display: none;
        }

        #formcontainer.active{
            display: block;
            border: 1px solid #3887BE;
            height: 410px;
            padding-left: 10px;
            padding-right: 0px;
            font:normal 13px/18px 'Montserrat', sans-serif;
            width: 235px;
            position: absolute;
            right: 0;
            top: 80px;
            background: white;
        }

        #buttonCloser a {
            margin-left: 207px;
            margin-top: 3px;
            display: inline-block;
            color: #000;
            padding-left: 2px;
            padding-right: 2px;
            padding-top: 1px;
            background-color: #81c241;
            color: #fff;
            font-size: 16px;
        }

        #cusp-banner{
            position: absolute;
            top: 0px;
            left: 0px;
            color: #06408C;
            width: 100%;
            height: 75px;
            /*border-bottom: solid 5px #000;*/
        }

        #cusp-banner span{
            margin-top: 6px;
            font: normal 13px/18px'Montserrat', sans-serif;
            color: #000;
            display: inline-block;
            padding-right: 20px;
            position: absolute;
            height: 77px;
            overflow-y: auto;
            margin-left: 10%;
        }

        #logo{
            margin-left: 5px;
            margin-top: 0px;
            height: 83px;
        }

        #cusp-banner span#beta {
            margin-left: 0px;
            padding-top: 24px;
            display: inline-block;
            font: normal 18px/18px 'Montserrat', sans-serif;
            color: #000;
        }

        #story-banner{
            position: absolute;
            top: 90px;
            left: 0px;
            color: #000;
            width: 100%;
            height: 24px;
            background-color:#FFF;
            -moz-border-radius:3px;
            display:inline-block;
            font-family: 'Montserrat', sans-serif;
            font-size:15px;
            font-weight:normal;
            padding:2px 5px;
            text-decoration:none;
        }

        /* Styling for 'CUSP PROJECT' button*/
        #cusp_button {
            color: #fff;
            background-color:#81c241;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            display:inline-block;
            font-family: 'Montserrat', sans-serif;
            font-size:14px;
            font-weight:normal;
            padding:2px 5px;
            text-decoration:none;
            text-align: center;
            margin-left: 200px;
            margin-top: 30px;
            margin-left: 150px;
        }

        #cusp_button:hover{
            color: #000;
/*            width: 350px;
            height: 16px;*/
            background-color:#81c241;
            display:inline-block;
            font-family:'Montserrat', sans-serif;
            font-size:14px;
            padding:2px 5px;
            text-decoration:none;
        }

        /* Styling for 'Energy And Climate' button */
        #wastewater_button{
            color: #fff;
            background-color:#81c241;
            display:inline-block;
            font-family: 'Montserrat', sans-serif;
            font-size:18px;
            font-weight:normal;
            padding:5px 5px;
            text-decoration:none;
            text-align: center;
            margin-right: 65px;
            margin-top: 24px;
            float: right;
            width: 270px;
            -webkit-border-radius: 3px;
            box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5), 2px 2px 6px rgba(0, 0, 0, 0.3);
        }

        #wastewater_button:hover{
            color: #000;
/*            background-color:#81c241;
            display:inline-block;*/
/*            font-family:'Montserrat', sans-serif;
            font-size:14px;
            padding:2px 5px;*/
            text-decoration:none;
        }
        }

        #wastewater_button.active{
            color: #000;
/*            background-color:#81c241;
            display:inline-block;
            font-family:'Montserrat', sans-serif;
            font-size:14px;
            padding:2px 5px;*/
            text-decoration:none;
        }

        /* Styling for 'Wastewater And Climate' button */
        #transportation_button{
            color: #fff;
            background-color:#81c241;
            display:inline-block;
            font-family: 'Montserrat', sans-serif;
            font-size:18px;
            font-weight:normal;
            padding:5px 5px;
            text-decoration:none;
            text-align: center;
            margin-right: 11%;
            margin-top: 24px;
            float: right;
            width: 270px;
            -webkit-border-radius: 3px;
            box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5), 2px 2px 6px rgba(0, 0, 0, 0.3);
        }

        #transportation_button:hover{
            color: #000;
/*            background-color:#81c241;
            display:inline-block;
            font-family:'Montserrat', sans-serif;
            font-size:14px;
            padding:2px 5px*/;
            text-decoration:none;
        }

        #transportation_button.active{
            color: #000;
/*            background-color:#81c241;
            display:inline-block;
            font-family:'Montserrat', sans-serif;
            font-size:14px;
            padding:2px 5px;*/
            text-decoration:none;
        }

/* Styling for 'ABOUT' button */
        #about_button{
            color: #000;
            background-color:#fff;
            display:inline-block;
            font-family: 'Montserrat', sans-serif;
            font-size:14px;
            font-weight:normal;
            padding:2px 5px;
            text-decoration:none;
            text-align: center;
            /*margin-left: 10px;*/
            margin-top: 30px;
            width: 50px;
            float: right;
            margin-right: 2%;
        }

        #about_button:hover{
            color: #000;
            background-color:#81c241;
            display:inline-block;
            font-family:'Montserrat', sans-serif;
            font-size:14px;
            padding:2px 5px;
            text-decoration:none;
        }

        #about_button.active{
            color: #000;
            background-color:#81c241;
            display:inline-block;
            font-family:'Montserrat', sans-serif;
            font-size:14px;
            padding:2px 5px;
            text-decoration:none;
        }

        /* Styling for 'ABOUT' button */
        #source_button{
            color: #000;
            background-color:#fff;
            display:inline-block;
            font-family: 'Montserrat', sans-serif;
            font-size:14px;
            font-weight:normal;
            padding:2px 5px;
            text-decoration:none;
            text-align: center;
            /*margin-left: 2px;*/
            margin-top: 30px;
            width: 120px;
            float: right;
            margin-right: 2%;
        }

        #source_button:hover{
            color: #000;
            background-color:#81c241;
            display:inline-block;
            font-family:'Montserrat', sans-serif;
            font-size:14px;
            padding:2px 5px;
            text-decoration:none;
        }

        #source_button.active{
            color: #000;
            background-color:#81c241;
            display:inline-block;
            font-family:'Montserrat', sans-serif;
            font-size:14px;
            padding:2px 5px;
            text-decoration:none;
        }

        /* Styling for more buttons */
        #story_button2{
            color: #000;
            width: 205px;
            height: 16px;
            background-color:#FFF;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            display:inline-block;
            font-family: 'Montserrat', sans-serif;
            font-size:14px;
            font-weight:normal;
            padding:2px 5px;
            text-decoration:none;
            text-align: center;
            margin-left: 25px;
        }

        #story_button2:hover{
            color: #FFF;
            width: 205px;
            height: 16px;
            background-color:#81c241;
            display:inline-block;
            font-family:'Montserrat', sans-serif;
            font-size:14px;
            padding:2px 5px;
            text-decoration:none;
        }

        #story_button2.active{
            color: #FFF;
            width: 205px;
            height: 16px;
            background-color:#81c241;
            display:inline-block;
            font-family:'Montserrat', sans-serif;
            font-size:14px;
            padding:2px 5px;
            text-decoration:none;
        }

        #markerinfo2 div.cycle {
            margin-top: -20px;
            /*padding-left: -20px;*/
        }

        #markerinfo2 div.cycle a.next{
            color: #81c241;
            /*width: 40px;*/
            height: 16px;
            display:inline-block;
            font-family:'Montserrat', sans-serif;
            font-size:18px;
            font-weight:bold;
            text-decoration:none;
            margin-left: 50px;
        }

        #markerinfo2 div.cycle a.next1{
            color: #81c241;
            /*width: 40px;*/
            height: 16px;
            display:inline-block;
            font-family:'Montserrat', sans-serif;
            font-size:18px;
            font-weight:bold;
            text-decoration:none;
            margin-left: 171px;
        }

        #markerinfo2 div.cycle a.prev{
            color: #81c241;
            /*width: 78px;*/
            height: 16px;
            display:inline-block;
            font-family:'Montserrat', sans-serif;
            font-size:18px;
            font-weight:bold;
            text-decoration:none;
            /*margin-left: 30px;*/
        }

        #map-ui {
            position: absolute;
            top: 79px;
            left: 0px;
            list-style: none;
            margin: 0;
            padding: 0;
            z-index: 100;
            background: #fff;
            width: 255px;
        }

        #map-ui li {
            border: 1px solid #FFF;
        }

        #map-ui li.layernamecontainer {
            border-bottom-color: #69CCD2;
            background-color: #FFF;
            margin-left: 10px;
        }

        #map-ui li.layernamecontainer a {
            font: normal 13px/18px 'Montserrat', sans-serif;
            text-decoration: none;
            background-color: #bab9a9;
            width:154px;
        }

        #map-ui li.layernamecontainer a.active {
            font: normal 13px/18px 'Montserrat', sans-serif;
            text-decoration: none;
            background-color: #3887BE;
        }

        div.lat_long {
            display: none;
        }

        .description{
            height: 80px;
        }

        /* styling for legend subheading */
        #map-ui h3 {
            margin-top: 0;
        }

        #map-ui li.subtitlecontainer {
            /*padding-top: 2px;*/
            padding-bottom: 1px;
            background-color: #11858e;
        }

        #map-ui li.titlecontainer {
            padding-top: 4px;
            padding-bottom: 3px;
            padding-left: 4px;
        }

        /* Styling for legend toggle */
        #map-ui li.layernamecontainer a.keytoggle {
            border: 1px solid #FFF;
            height: 10px;
            width:10px;
            display: inline-block;
            margin-left: 30px;
            margin-right: 10px;
            color: #fff;
            line-height: 10px;
            padding: 3px;
            background-color: #3887BE;
        }

        #map-ui a:not(.keytoggle) {
            background: #11858e;
            color: #3C4E5A;
            display: inline-block;
            margin: 0;
            width: 302px;
            padding: 5px;
        }

        /*Styling for SUBTITLE TOGGLE*/
        #map-ui li a.layerToggle {
            border: 1px solid #FFF;
            height: 18px;
            width:18px;
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 4px;
            color: #fff;
            line-height: 16px;
            background-color: #11858e;
            font: normal 14px/18px 'Montserrat', sans-serif;
            text-decoration: none;
            font-weight: bold;
            text-align: center;
            padding: 0;
            -webkit-border-radius: 3px 3px 3px 3px ;
            border-radius: 3px 3px 3px 3px ;
        }

        #map-ui li:last-child a {
            border-bottom-width: 1px;
            -webkit-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
        }

        #map-ui a.active {
            background: #3887BE;
            border-color: #3887BE;
            border-top-color: #FFF;
            color: #FFF;
        }

        #map-ui h3 {
            background: #11858e;
            border-color: #11858e;
            border-top-color: #FFF;
            color: #FFF;
            font:normal 13px/18px 'Montserrat', sans-serif;
            text-align: center;
            margin-bottom: 2px;
            display: inline-block;
        }

        #map-ui button {
            text-align: center;
            display: inline-block;
            background: #69CCD2;
            border-radius: 50%;
            width: 17px;
            margin-left: 20px;
            font: bold 13px 'Times New Roman', sans-serif;
            border: 0px;
            margin-bottom: 3px;
        }

        #map-ui button:active {
            text-align: center;
            display: inline-block;
            background: #DCF4F8;
            border-radius: 50%;
            width: 15px;
            margin-left: 20px;
            font: normal 10px 'Montserrat', sans-serif;
            border: 0px;
            margin-bottom: 3px;
        }

        /* Legend */
        #map-ui li ul.legend {
            background: #FFF;
            display: none;
        }

        #map-ui li {
            list-style-type: none;
            font:13px/18px 'Montserrat', sans-serif;;
        }

        #map-ui li ul.legend span.keycolor {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 10px;
        }

        #iframe {
            width: 300px;
            height: 520px;
            margin-left: -20px;
        }

        /* Color definition for legend items */

        /*  ALCOSAN wastewater treatmentplant*/
        #map-ui li ul.legend li.alcosan span.keycolor {
            background-color:white;
            background-image: url('ALCOSAN.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 10px;
            height: 10px;
        }

        /*  Bike Lanes */
        #map-ui li ul.legend li.bikeLane span.keycolor {
            background-color:white;
            background-image: url('bikeLane.jpg');
            background-size: 35px;
            background-repeat:no-repeat;
            background-position: center;
            width: 15px;
            height: 10px;
        }

        /*  Trails */
        #map-ui li ul.legend li.trails span.keycolor {
            border-color: #3cb302;
            border-width: 1px;
            border-style: solid;
            background-color: #FFF;
            height: 2px;
            border-left-width: 0;
            border-right-width: 0;
            width: 15px;

        }

        /*  Sharrows */
        #map-ui li ul.legend li.sharrow span.keycolor {
            border-color: #3cb302;
            border-width: 1px;
            border-top-style: dashed;
            border-bottom-style: none;
            height: 1px;
            border-left-width: 0;
            border-right-width: 0;
            width: 15px;
            padding-bottom: 4px;

        }


        /*  Bus Routes */
        #map-ui li ul.legend li.busRoutes span.keycolor {
            border-color: #9e5557;
            border-width: 1px;
            border-style: dashed;
            background-color: #FFF;
            height: .25px;
            border-left-width: 0;
            border-right-width: 0;
            width: 15px;

        }

        /*  Busways */
        #map-ui li ul.legend li.busway span.keycolor {
            border-color: #90061a;
            border-width: 1px;
            border-style: solid;
            background-color: #FFF;
            height: 2px;
            border-left-width: 0;
            border-right-width: 0;
            width: 15px;
        }

        /*  Bus Rapid Transit */
        #map-ui li ul.legend li.rapid span.keycolor {
            border-color: #944ee3;
            border-width: 1px;
            border-style: solid;
            background-color: #FFF;
            height: 2px;
            border-left-width: 0;
            border-right-width: 0;
            width: 15px;
        }

        /*  Commuter Bus Routes*/
        #map-ui li ul.legend li.commuter span.keycolor {
            border-color: #944ee3;
            border-width: 1px;
            border-top-style: dashed;
            border-bottom-style: none;
            height: 1px;
            width: 15px;
        }

        /*  Key Corridor */
        #map-ui li ul.legend li.corridor span.keycolor {
            border-color: #944ee3;
            border-width: 1px;
            border-style: solid;
            background-color: #944ee3;
            height: 1px;
            width: 15px;
        }

        /*  Local */
        #map-ui li ul.legend li.local span.keycolor {
            border-color: #944ee3;
            border-width: 1px;
            border-style: solid;
            background-color: #944ee3;
            height: 1px;
            width: 15px;
        }

        /*  LightRail - Blue Line */
        #map-ui li ul.legend li.blueLine span.keycolor {
            border-color: blue;
            border-width: 1px;
            border-style: solid;
            background-color: #97ccf4;
            height: 2px;
            border-left-width: 0;
            border-right-width: 0;
            width: 15px;
        }

        /*  LightRail - Blue Line Library */
        #map-ui li ul.legend li.blueLineLibrary span.keycolor {
            border-color: blue;
            border-width: 1px;
            border-style: solid;
            background-color: #FFF;
            height: 2px;
            border-left-width: 0;
            border-right-width: 0;
            width: 15px;
        }

        /*  LightRail - Red Line */
        #map-ui li ul.legend li.redLine span.keycolor {
            border-color: red;
            border-width: 1px;
            border-style: solid;
            background-color: #FFF;
            height: 2px;
            border-left-width: 0;
            border-right-width: 0;
            width: 15px;
        }

        /*  Park and Ride Locations*/
        #map-ui li ul.legend li.parkRide span.keycolor {
            background-color:white;
            background-image: url('parkRide.jpg');
            background-size: 10px;
            background-repeat:no-repeat;
            background-position: center;
            width: 10px;
            height: 10px;
        }

        /*  Vanpool Locations*/
        #map-ui li ul.legend li.vanpool span.keycolor {
            background-color:white;
            background-image: url('vanpool.jpg');
            background-size: 10px;
            background-repeat:no-repeat;
            background-position: center;
            width: 10px;
            height: 10px;
        }

        /*  CO2 Emissions - Hybrid 3 */
        #map-ui li ul.legend li.hybrid3 span.keycolor {
            border-color: #07996d;
            border-width: 1px;
            border-style: solid;
            background-color: #07996d;
            height: 1px;
            width: 15px;
        }

        /*  CO2 Emissions  - Bus 75%*/
        #map-ui li ul.legend li.bus75 span.keycolor {
            border-color: #b5540a;
            border-width: 1px;
            border-style: solid;
            background-color: #b5540a;
            height: 1px;
            width: 15px;
        }

        /*  CO2 Emissions  - Car3*/
        #map-ui li ul.legend li.car3 span.keycolor {
            border-color: #6511b3;
            border-width: 1px;
            border-style: solid;
            background-color: #6511b3;
            height: 1px;
            width: 15px;
        }

        /*  CO2 Emissions  - SUV3*/
        #map-ui li ul.legend li.suv3 span.keycolor {
            border-color: #d80773;
            border-width: 1px;
            border-style: solid;
            background-color: #d80773;
            height: 1px;
            width: 15px;
        }

        /*  CO2 Emissions  - Hybrid 1*/
        #map-ui li ul.legend li.hybrid1 span.keycolor {
            border-color: #1ec999;
            border-width: 1px;
            border-style: solid;
            background-color: #1ec999;
            height: 1px;
            width: 15px;
        }


        /*  CO2 Emissions  - Light Rail 75%*/
        #map-ui li ul.legend li.lr75 span.keycolor {
            border-color: #559f00;
            border-width: 1px;
            border-style: solid;
            background-color: #559f00;
            height: 1px;
            width: 15px;
        }

        /*  CO2 Emissions  - Bus 21%*/
        #map-ui li ul.legend li.bus21 span.keycolor {
            border-color: #fa6400;
            border-width: 1px;
            border-style: solid;
            background-color: #fa6400;
            height: 1px;
            width: 15px;
        }

        /*  CO2 Emissions  - Car 1*/
        #map-ui li ul.legend li.car1 span.keycolor {
            border-color: #b740ec;
            border-width: 1px;
            border-style: solid;
            background-color: #b740ec;
            height: 1px;
            width: 15px;
        }

        /*  CO2 Emissions  - SUV 1*/
        #map-ui li ul.legend li.suv1 span.keycolor {
            border-color: #f944ad;
            border-width: 1px;
            border-style: solid;
            background-color: #f944ad;
            height: 1px;
            width: 15px;
        }

        /*  CO2 Emissions  - LR 30%*/
        #map-ui li ul.legend li.lr30 span.keycolor {
            border-color: #3cf03c;
            border-width: 1px;
            border-style: solid;
            background-color: #3cf03c;
            height: 1px;
            width: 15px;
        }

        /*  CO2 Emissions  - Duquesne*/
        #map-ui li ul.legend li.duq span.keycolor {
            border-color: #e6ab02;
            border-width: 1px;
            border-style: solid;
            background-color: #e6ab02;
            height: 1px;
            width: 15px;
        }

        /*  CO2 Emissions  - Monongahela*/
        #map-ui li ul.legend li.mon span.keycolor {
            border-color: #a6761d;
            border-width: 1px;
            border-style: solid;
            background-color: #a6761d;
            height: 1px;
            width: 15px;
        }

        #map-ui li ul.legend li.wastewater_comm span.keycolor {
            background-color:white;
            background-image: url('wastewater_comm.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 10px;
            height: 12px;
        }

        #map-ui li ul.legend li.trans_comm span.keycolor {
            background-color:white;
            background-image: url('trans_comm.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 10px;
            height: 12px;
        }


        #map-ui li ul.legend li.wastewater_govt span.keycolor {
            background-color:white;
            background-image: url('wastewater_govt.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 10px;
            height: 12px;
        }

        #map-ui li ul.legend li.trans_govt span.keycolor {
            background-color:white;
            background-image: url('trans_govt.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 10px;
            height: 12px;
        }


        /*  GREEN INFRASTRUCTURE*/
        #map-ui li ul.legend li.greenroof span.keycolor {
            background-color:white;
            background-image: url('greenRoof3.jpg');
            background-size: 14px;
            background-repeat:no-repeat;
            background-position: center;
            margin-top: 2px;
            width: 15px;
            height: 16px;
            margin-left: -3px;
        }

        #map-ui li ul.legend li.bioswale span.keycolor {
            background-color:white;
            background-image: url('bioswale5.jpg');
            background-size: 16px;
            background-repeat:no-repeat;
            background-position: center;
            margin-top: 2px;
            width: 16px;
            height: 18px;
            margin-left: -3px;
        }

        #map-ui li ul.legend li.pervious span.keycolor {
            background-color:white;
            background-image: url('pervious5.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            margin-top: 2px;
            width: 15px;
            height: 18px;
            margin-left:-3px;
        }

        #map-ui li ul.legend li.rainwater span.keycolor {
            background-color:white;
            background-image: url('rainwater3.jpg');
            background-size: 18px;
            background-repeat:no-repeat;
            background-position: center;
            width: 13px;
            height: 16px;
        }

        #map-ui li ul.legend li.garden span.keycolor {
            background-color:white;
            background-image: url('rainGarden.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 10px;
            height: 10px;
        }

        #map-ui li ul.legend li.meadow span.keycolor {
            background-color:white;
            background-image: url('meadow3.jpg');
            background-size: 18px;
            background-repeat:no-repeat;
            background-position: center;
            width: 13px;
            height: 18px;
        }

        #map-ui li ul.legend li.treePlanting span.keycolor {
            background-color:white;
            background-image: url('treepit5.jpg');
            background-size: 16px;
            background-repeat:no-repeat;
            background-position: center;
            margin-top: 2px;
            width: 15px;
            height: 18px;
            margin-left: -3px;

        }


        /*  CSOs*/
        #map-ui li ul.legend li.cso span.keycolor {
            background-color:white;
            background-image: url('cso_legend.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 10px;
            height: 10px;
        }

        /*  SSOs*/
        #map-ui li ul.legend li.sso span.keycolor {
            background-color:white;
            background-image: url('sso_legend.jpg');
            background-size: 10px;
            background-repeat:no-repeat;
            background-position: center;
            width: 10px;
            height: 10px;
        }

        /* Interceptor Pipes */
        #map-ui li ul.legend li.shallowPipe span.keycolor {
            border-color: #ebafc0;
            border-width: 1px;
            border-style: dashed;
            background-color: #FFF;
            height: .5px;
            border-left-width: 0;
            border-right-width: 0;
            width: 15px;
        }

        #map-ui li ul.legend li.deepPipe span.keycolor {
            border-color: #7f1936;
            border-width: 1px;
            border-style: solid;
            background-color: #ebafc0;
            height: 1px;
            border-left-width: 0;
            border-right-width: 0;
            width: 15px;
        }

        /* ALCOSAN's Selected Plan */
        /* CSO Tunnel */
        #map-ui li ul.legend li.csoTunnel span.keycolor {
            border-color: #193002;
            border-width: 1px;
            border-style: solid;
            background-color: #53d807;
            height: 1px;
            border-left-width: 0;
            border-right-width: 0;
            width: 15px;
        }
        /* SSO Tunnel */
        #map-ui li ul.legend li.ssoTunnel span.keycolor {
            border-color: #031c64;
            border-width: 1px;
            border-style: solid;
            background-color: #29a9f9;
            height: 1px;
            border-left-width: 0;
            border-right-width: 0;
            width: 15px;
        }

        /* Conveyance */
        #map-ui li ul.legend li.conveyance span.keycolor {
            background-color: #c36af3;
            height: 1px;
            border-left-width: 0;
            border-right-width: 0;
            width: 15px;
        }

        /*  CSO Storage Tanks*/
        #map-ui li ul.legend li.csoTank span.keycolor {
            background-color:white;
            background-image: url('StorageTanks_CSO.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 10px;
            height: 10px;
        }

        /*  SSO Storage Tanks*/
        #map-ui li ul.legend li.ssoTank span.keycolor {
            background-color:white;
            background-image: url('StorageTanks_SSO2.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 10px;
            height: 10px;
        }

        /*  CSO Storage Tanks*/
        #map-ui li ul.legend li.dropShaft span.keycolor {
            background-color:white;
            background-image: url('dropshaft.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 10px;
            height: 10px;
        }


        /*  Natural Gas Pipeline */
        #map-ui li ul.legend li.pipelines span.keycolor {
            border-color: #02171a;
            border-width: 1px;
            border-style: solid;
            background-color: #ffda1a;
            height: 2px;
            border-left-width: 0;
            border-right-width: 0;
            width: 15px;
        }

        /*  Pittsburgh Neighborhoods */
        #map-ui li ul.legend li.neighborhoods span.keycolor {
            border-style: dashed;
            border-width: 1px;
            border-color: #3b357c;
        }


        /*  Pennsylvania Watersheds */
        #map-ui li ul.legend li.watershed span.keycolor {
            background-color:#fff;
            border-style: solid;
            border-width: 1px;
            border-color: #05464a;
        }

        /*  Pittsburgh Boundary */
        #map-ui li ul.legend li.boundary span.keycolor {
            background-color:#fff;
            border-style: solid;
            border-width: 1px;
            border-color: #0a259b;
        }

        /* Allegheny Municipalities */
        #map-ui li ul.legend li.muni span.keycolor {
            border-style: solid;
            border-width: 1px;
            border-color: #833e09;
        }

        /* ALCOSAN Service Area */
        #map-ui li ul.legend li.combined span.keycolor {
            background-color:#f78437;
            opacity: 0.7;
        }

        #map-ui li ul.legend li.separate span.keycolor {
            background-color:#2299ab;
            opacity: 0.7;
        }

        #map-ui li ul.legend li.runoff span.keycolor {
            background-color:#f9ad44;
            opacity: 0.7;
        }

        #map-ui li ul.legend li.non span.keycolor {
            background-color:#b8af98;
            opacity: 0.7;
        }

        /*  Pittsburgh Deep pipes */
        #map-ui li ul.legend li.floodOneHundred span.keycolor {
            background-color:#043ee8;
            border-style: solid;
            border-width: 1px;
            border-color: #043ee8;
        }

        #map-ui li ul.legend li.floodFiveHundred span.keycolor {
            background-color:#10f3ef;
            border-style: solid;
            border-width: 1px;
            border-color: #10f3ef;
        }


        /*  Pittsburgh Greenway */
        #map-ui li ul.legend li.greenway span.keycolor {
            background-color:#ae8;
            border-style: solid;
            border-width: 1px;
            border-color: #594;
        }

        /*  Pittsburgh Impervious Surfaces */
        #map-ui li ul.legend li.buildings span.keycolor {
            background-color:#222421;
            border-style: solid;
            border-width: 1px;
            border-color: #222421;
        }

        #map-ui li ul.legend li.roads span.keycolor {
            background-color:#4a5249;
            border-style: solid;
            border-width: 1px;
            border-color: #4a5249;
        }

         #map-ui li ul.legend li.impervious span.keycolor {
            background-color:#858688;
            border-style: solid;
            border-width: 1px;
            border-color: #858688;
        }

        /* Pittsburgh Landslide Prone Areas */
        #map-ui li ul.legend li.landslide span.keycolor {
            background-color:white;
            background-image: url('Landslide.png');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 15px;
            height: 22px;
        }

        /* Pittsburgh Undermined Areas */
        #map-ui li ul.legend li.undermined span.keycolor {
            background-color:#fcdc05;
            border-style: solid;
            border-width: 1px;
            border-color: #fcdc05;
        }

        /* Projected Precipitation */
        #map-ui li ul.legend li.fourtoFive span.keycolor {
            background-color:#FFFFDC;
        }

        #map-ui li ul.legend li.fivetoSix span.keycolor {
            background-color: #FFFFAA;
        }

        #map-ui li ul.legend li.sixtoSeven span.keycolor {
            background-color: #FFFF50;
        }
        #map-ui li ul.legend li.seventoEight span.keycolor {
            background-color:#E6FF6E;
        }

        #map-ui li ul.legend li.eighttoNine span.keycolor {
            background-color: #ADFA69;
        }

        #map-ui li ul.legend li.ninetoTen span.keycolor {
            background-color: #85E069;
        }

        #map-ui li ul.legend li.tentoEleven span.keycolor {
            background-color: #3BB542;
        }
        #map-ui li ul.legend li.eleventoTwelve span.keycolor {
            background-color:#59B89E;
        }

        #map-ui li ul.legend li.twelvetoThirteen span.keycolor {
            background-color: #1D91C0;
        }

        #map-ui li ul.legend li.thirteentoFourteen span.keycolor {
            background-color: #2247AD;
        }
        #map-ui li ul.legend li.fourteentoFifteen span.keycolor {
            background-color: #081D7A;
        }


        /*  Green Power Plants*/
        #map-ui li ul.legend li.green_power span.keycolor {
            background-color:white;
            background-image: url('GreenPowerPlants_legend.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 13px;
            height: 13px;
        }

                /*  Fossil Fuel Power Plants*/
        #map-ui li ul.legend li.fossil_fuel_power span.keycolor {
            background-color:white;
            background-image: url('FossilFuelPowerPlants_legend.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 13px;
            height: 13px;

        }

        /*  Other Power Plants*/
        #map-ui li ul.legend li.other_power span.keycolor {
            background-color:white;
            background-image: url('OtherPowerPlants_legend.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 13px;
            height: 13px;
        }

        /*  Penn Windspeed */
        #map-ui li ul.legend li.ws3 span.keycolor {
            background-color:#f1981d;
        }

        #map-ui li ul.legend li.ws4 span.keycolor {
            background-color:#f46c99;
        }

        #map-ui li ul.legend li.ws5 span.keycolor {
            background-color:#a111ce;
        }

        #map-ui li ul.legend li.ws6 span.keycolor {
            background-color:red;
        }

        #map-ui li ul.legend li.ws7 span.keycolor {
            background-color:blue;
        }

        /*  Fossil Fuel Power Plants*/
        #map-ui li ul.legend li.fossil_fuel_power span.keycolor {
            background-color:white;
            background-image: url('FossilFuelPowerPlants_legend.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 13px;
            height: 13px;
        }

        /*  Other Power Plants*/
        #map-ui li ul.legend li.other_power span.keycolor {
            background-color:white;
            background-image: url('OtherPowerPlants_legend.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 13px;
            height: 13px;
        }

        /* Pittsburgh Stormwater Management Watersheds */
        #map-ui li ul.legend li.sewershed span.keycolor {
            background-color:#a3f3e6;
            border-style: solid;
            border-width: 1px;
            border-color: #256963;
        }

        /* Weather Stations */
        #map-ui li ul.legend li.weather span.keycolor {
            background-color:white;
            background-image: url('weatherStation.jpg');
            background-size: 14px;
            background-repeat:no-repeat;
            background-position: center;
            margin-top: 2px;
            width: 15px;
            height: 15px;

        }

/*  Markers*/
        #map-ui li ul.legend li.programs_events span.keycolor {
            background-color:white;
            background-image: url('ImpactsObservations.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 15px;
            height: 22px;
        }

        #map-ui li ul.legend li.impacts_observations span.keycolor {
            background-color:white;
            background-image: url('WhatsBeingDone.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 15px;
            height: 22px;
        }

        #map-ui li ul.legend li.whats_being_done span.keycolor {
            background-color:white;
            background-image: url('ProgramsEvents.jpg');
            background-size: 15px;
            background-repeat:no-repeat;
            background-position: center;
            width: 15px;
            height: 22px;
        }

        /* Sidebar button */
        #sidebarbuttoncontainer {
            /*border: 1px #000 solid;*/
            background: #81c241;
            width: 20px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            margin-left: 240px;
        }

        #sidebarbutton {
            text-decoration: none;
            color: #fff;
            padding-left: 4px;
            font-size: large;
            line-height: 20px;
            font-family: 'Montserrat', sans-serif;
        }

/* Styling for layer definition popups*/
.popup{
    position:relative;
    width:200px;
    margin-left: 265px;
    margin-top: 90px;
    font-family: 'Montserrat', sans-serif;
    font-size:13px;
    padding:10px;
    background-color:#F3F8F8;
    border:2px solid #FFF;
    z-index:100000000000000000;
    }

.cancel{
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:10px;
    width:14px;
    padding:0 0 5px 0;
    background-color:#fff;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    color:#000;
    border-radius:3px;
    z-index:100000000000000000;
    margin-top: 6px;
    margin-right: -6px;
    }

div#weatherContent img {
    width: 590px;
}

div#weatherContent {
    font-size: 12px;
    line-height: 1;
}
