<footer>
<p style="padding: 2em 0 0; width:46em; margin: 0 auto;">Thanks for looking. Want more? I'm always experimenting with code, design, and the edges of human/computer interaction. Here are some of my favorite posts:  <a href="/2013/10/19/focus.html">Focus</a>, <a href="/2014/01/10/abstracting-classics.html">Abstracting Classics</a>, <a href="/2013/10/28/css-and-the-golden-ratio.html">CSS and the Golden Ratio</a>, & <a href="/2014/03/09/team-relocations.html">Sports Team Relocations</a></p>
<p style="padding: 1em 0 1.1em; width:46em; margin: 0 auto;">Or, <a href="http://www.twitter.com/duncangraham">follow me on Twitter.</a></p>
</footer>

