<footer>

<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
<form action="http://dvncan.us4.list-manage.com/subscribe/post?u=ff5fdc8c92fe8b6ba7d2e3e98&amp;id=dbd96e9798" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input type="email" value="" name="EMAIL" class="email tk-adobe-garamond-pro" id="mce-EMAIL" placeholder="enter your email to subscribe to new posts" required >
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_ff5fdc8c92fe8b6ba7d2e3e98_dbd96e9798" value=""></div>
		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form></div><!--End mc_embed_signup-->

<div class='dark space'>
				<p class="no-margin">Hi, I'm Duncan, designer, developer, & bon vivant.</p><p class="no-margin"> Want to build something awesome? I can help. </p><p class="no-margin"><a mailto='hello@dvncan.com'>Email Me</a> or even better, get in touch via <a href="https://twitter.com/duncangraham">Twitter</a></p>

</footer>

