
<nav>
                <ul class="">
                        <li id="blog"  class=""><a href="/index.html#blog">BLOG</a>
                        </li>
                        <li id="work" class=""><a href="/work.html">WORK</a>
                        </li>
                <!--        <li id="ideas" class=""><a href="/ideas.html">IDEAS</a>
								</li> -->
                        <li id="about" class=""><a href="/about.html">ABOUT</a>
                        </li>
                        <li id="twitter" class=""><a href="https://twitter.com/duncangraham">TWITTER</a>
                        </li>
								</ul>
								</nav>

