body {
    background: url(../images/login_bg.png);
    background-position: center 0;
    padding-top: 0;
    position: relative;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin:0;padding:0;
    overflow-x: hidden;
    overflow-y: hidden;
}

img {
    width: 100%;
    border: 0 none;
    height: auto;
}
.pac-container:after{
  background-image:none !important;
}
.navbar-fixed-top .navbar-inner {
    width: 97% !important;
    height: auto;
    padding: 10px 5px;
}
.navbar .brand {
    color: #ffffff;
    display: block;
    float: left;
    margin: 0 auto;
    padding: 7px 10px 0 10px;
    text-align: center;
}
[class*="span"] {
    margin-left:0px !important;
}
@media (max-width: 480px) {
    .navbar-fixed-top .navbar-inner {
        height: auto;
        padding: 10px 5px !important;
        width: 100%;
    }
    .spi-earnings-box {
        width: 104px !important;
    }
    .spi-earnings-box {
        color: #fff;
        display: inline-block;
        font-family: "din-condensed-web";
        font-weight: normal;
        width: 125px;
    }
    .spi-earnings-box span {
        display: inline-block;
        font-family: "din-condensed-web";
        font-size: 36px !important;
        font-style: normal;
        letter-spacing: -3px !important;
        line-height: 1em;
        padding: 1px 0;
        text-align: center;
        width: 35px !important;
    }
    .date {
        display: inline-block;
        font-size: 13px;
        line-height: 1em;
        font-family: "din-condensed-web";
        color: #43ccff;
        padding: 0px 5px !important;
        text-align: left;
        width: 120px;
    }
}
@media (min-width: 250px) and (max-width: 319px) {
    form, .login_box {
        float: left;
        text-align: center;
        width: 100%;
        margin-top: -45% !important;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    form, .login_box {
        float: left;
        text-align: center;
        width: 100%;
        margin-top: -40% !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    form, .login_box {
        float: left;
        text-align: center;
        width: 110% !important;
    }
    .navbar-fixed-top .navbar-inner {
        width: 96% !important;
        height: auto;
        padding: 10px 5px;
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {
    form, .login_box {
        float: left;
        text-align: center;
        width: 110% !important;
        margin-top: -7%;
    }
}
@media (max-width: 768px) {
    .login {
        position: absolute;
        padding: 0px;
        width: 96%;
    }
    [class*="span"] {
        margin-left:0px !important;
    }
    .navbar-fixed-top .navbar-inner {
        width: 94% !important;
        height: auto;
        padding: 10px 5px;
    }
}
.spi-earnings-box {
    color: #fff;
    display: inline-block;
    font-family: "DINWeb";
    font-weight: normal;
    width: 100px;
}
.spi-earnings-box span {
    display: inline-block;
    font-family: "DINWeb";
    font-style: normal;
    font-size: 38px;
    line-height: 1em;
    padding: 1px 0px;
    text-align: left;
    letter-spacing: 0px;
    width: 35px;
}

.date {
    display: inline-block;
    font-size: 10px;
    line-height: 0px;
    font-family: "fira-sans";
    color: #43ccff;
    padding: 0px 0px;
    text-align: left;
    width: 120px;
}
.navbar-inner {
    background-color: transparent;
    background-image: none;
    background-repeat: repeat-x;
    height: 46px;
    padding-left: 20px;
    padding-right: 20px;
    width: 1350px;
}
.show-grid:hover [class*="span"] {
    background: none;
}
.row {
    margin-left: 0px !important;
}
p {
    font-family: "source-sans-pro";
    font-size: 13px;
    line-height: 18px;
    color: #b8e3fe;
    margin: 0 0 20px;
    letter-spacing: 1px;
}
input, .uneditable-input {
    background: #002a56;
    color: #fff;
    display: inline-block;
    font-family: "fira-sans";
    font-size: 15px;
    height: 15px;
    line-height: 24px;
    margin-bottom: 10px;
    padding: 8px 6px 7px 6px;
    width: 225px;
}
input:focus {

}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    margin-left: 0px;
    background: none;
    border: none;
    color: #0095e2;
    font-size: 16px;
}
input, button, select, textarea {
    font-family: "fira-sans";
}
input#login-field:-ms-input-placeholder {
    color:#0095e2;
    -webkit-transition: opacity 0.35s linear;
}
input#login-field:focus::-ms-input-placeholder {
    opacity: 0;
}
input#login-field::-webkit-input-placeholder {
    color:#0095e2;
    -webkit-transition: opacity 0.35s linear;
}
input#login-field:focus::-webkit-input-placeholder {
    opacity: 0;
}
input#login-field:-moz-placeholder {
    color:#0095e2;
    -moz-transition: opacity 0.35s linear;
}
input#login-field:focus::-moz-placeholder {
    opacity: 0;
}
/* firefox 19+ */
input#login-field::-moz-placeholder {
    color:#0095e2;
    -moz-transition: opacity 0.35s linear;
}
input#login-field:focus::-moz-placeholder {
    opacity: 0;
}
/* Internet Explorer 10 */
input#login-field:-ms-input-placeholder {
    color:#0095e2;
    -moz-transition: opacity 0.35s linear;
}
input#login-field:focus:-ms-input-placeholder {
    opacity: 0;
}
.login_box {
    float: left;
    margin-top: -7%;
    position:absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    margin:auto;

}
.login_box_anim {
    text-align: center;
    width: 100%;
    margin:auto;

}



.navbar-fixed-top {
    background-color: transparent;
    margin-bottom: 0;
    position: fixed;
}
.navbar-fixed-top .navbar-inner {
    width: 100%;
    height: auto;
    padding: 10px 15px;
}
.nav-collapse {
    height: auto;
    overflow: hidden;
}
#loginbtn {
    left: -140px;
    position: relative;
    opacity: 1;
}
#loginbtn button{
    color:#0095E2;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#loginbtn button:hover{
    color:#FFF;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

}

#mapcontainer{
  /*  position:fixed;  */
    top:0;
    bottom:0;
    left:0;
    z-index:0;
    height:100%;
    width:100%;
}
.mapcontainerHome{

    top:0;
    bottom:0;
    left:0;
    z-index:0;
    height:100%;
    width:100%;
}

.container-fluid{
    height:100%;
    display:table;
    width: 100%;
    padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
    float:none;
    margin:0 auto;
}
html, body, .container {
    height:100% !important;
}
.container {
    display: table;
    vertical-align: middle;
    position:absolute;
    top:0;
    bottom:0;
    /*	width:100% !important; */
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

/********   command panel */

.cmd-mainmenu  {

    position: relative;
    width: 0px;
    height: 40px;
    bottom: 0px;
    left: 0%;
    float: left;
}
#leftmenu{
    width:100%;
    height: 40px;
    display: block;
    position: absolute;
    bottom: 0px;
}
.cmd-mainmenu-title  {

    width: 100%;
    height: 100%;
    background-color: #008fda;
    font-family: "ff-enzo-web";
    font-style: normal;
    font-weight: 100;
    font-size: 35px;
    color: #fff;
    text-align: center;
    -webkit-transition: background-color .18s ease-in-out;
}

.cmd-mainmenu-title:hover {
    background-color: #204a81;
}

.cmd-mainmenu-title:active {
    background-color: #0070c1;
}


.cmd-quickmenu  {
    position: relative;
    width: 10px;
    height: 0px;
    bottom: 0px;
    left: 124px;
    background: #31d1c9;
    transition: background, width .19s ease-in-out;
    -webkit-transition: all .19s ease-in-out;

}

.cmd-quickmenu:hover {
    width: 330px;
    background: rgb(25, 196, 183);
}

.cmd-quickmenu-title  {

    width: 100%;
    height: 100%;

    color: #fff;
}

/* Icons, Arrows, Tooltips ---------------------------------------------------*/

.cmd-nav-callout {
    font-family: "ff-good-headline-web-pro-con";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #ff4800;
}

.cmd-icon-arrow1 {
    display: block;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    background: url("arrow_right1.svg");
    opacity: .6;
}

.cmd-hidepanel-arrow svg {
    display: block;
    width: 24px;
    height: 47px;
    position: absolute;
    fill: rgba(42, 239, 237, 0);
    bottom: 73px;
    right:5px;
    transition: fill 200ms ease;
}
.cmd-hidepanel-arrow svg:hover {
    fill: #ffffff;
}


/* Command Map Styles List ---------------------------------------------------*/

.cmd-mapstyles-menubtn {
    display: block;
    width: 240px;
    height: 42px;
    background-color: #00a3a2;
    border-radius: 35px 6px 0px 0px;
    -moz-border-radius: 35px 6px 0px 0px;
    -webkit-border-radius: 35px 6px 0px 0px;
    opacity: 0.8;
    position: absolute;
    right: 290px;
    bottom: 116px;
    -webkit-box-shadow: inset 0px 0px 20px rgba(42, 239, 237, 0);
    -webkit-transition: box-shadow .18s ease-in-out;
    z-index: 3;
}

.cmd-mapstyles-menubtn:hover {
    box-shadow: inset 0px 0px 20px rgba(42, 239, 237, 0.85);

}

.cmd-mapstyles-menubtn:active {
    background-color: rgb(0, 180, 179);
    opacity: .9;
}

.cmd-mapstyles-title {
    font-family: "interface";
    font-style: normal;
    font-weight:400;
    font-size: 20px;
    color: #ffffff;
    margin-left: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.cmd-mapstyles-item {
    width: 240px;
    height: 48px;
    background-color: #1da2a1;
    opacity: .8;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    position: relative;
}

.cmd-mapstyles-item:hover {
    background: #1dd7cc;
}

.cmd-mapstyles-item:active {
    background: #01b5aa;
}

.cmd-mapstyles-item-image {
    display: block;
    width:62px;
    height:48px;
    background-image: url("mapstyle1.jpg");
}

.cmd-mapstyles-item-title {
    font-family: "museo-sans-rounded";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
    margin-left: 74px;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}



/* Command Weather Button ---------------------------------------------- */

.cmd-weather {
    display: block;
    width:240px;
    height:42px;
    background-color:#00a3a2;
    border-radius: 6px 35px 0px 0px;
    -moz-border-radius: 6px 35px 0px 0px;
    -webkit-border-radius: 6px 35px 0px 0px;
    opacity: .8;
    position: absolute;
    right: 35px;
    bottom: 116px;
}

.cmd-weather-mini {
    width: 122px;
    height: 42px;
    float:right;
    /* margin-left: auto; */
}
.cmd-weather-des{
    width: 114px;
    height: 42px;
    float: left;
    margin-left: -88px;
    margin-top: 3px;
    font-size: 16px;
    padding-left: 4px;
    opacity: 0;
    font-family: "ff-good-headline-web-pro-con";
    clip: rect(0px, 190px, 50px, 90px);
    position: absolute;


}


.cmd-weather-icon {
    width: 30px;
    height: 25px;
    /*background-image: url(../images/cloudy.png);*/
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}

.cmd-weather-temp {
    width: 38px;
    height: 30px;
    font-family: "soleil";
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    color: #ffffff;
    margin-left: 40px;
    margin-top: -21px;
    line-height: 32px;
}

.cmd-weather-temphi {
    width: 15px;
    height: 11px;
    font-family: "soleil";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    margin-left: 75px;
    margin-top: -25px;
    line-height: 12px;

}

.cmd-weather-templow {
    width: 15px;
    height: 11px;
    font-family: "soleil";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    margin-left: 75px;
    margin-top: 2px;
    line-height: 12px;

}



/* Command Coordinate, GPS & Nav Menu --------------------------------------------*/

.cmd-nav {
    width:240px;
    height:25px;
    background-color:#0e72d0;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    opacity: .8;
    position: absolute;
    right: 35px;
    bottom: 84px;
}

.cmd-nav-livecoord, .cmd-nav-getlocation, .cmd-nav-getdirection {
    font-family: "ff-good-headline-web-pro-con";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    color: #ffffff;
    display: inline-block;
    float: right;
    margin-right: 15px;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.cmd-coordhelp-txt {
    font-family: "soleil";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.cmd-nav-gpsfix svg {
    width: 16px;
    height: 16px;
    fill: #ffffff;
    position: absolute;
    margin-left: 17px;
    margin-top: 4px;
    transition: fill 200ms ease;
}
.cmd-nav-gpsfix svg:hover {
    fill: #ffd800;
}

.cmd-nav-getroute svg {
    width: 16px;
    height: 16px;
    fill: #ffffff;
    position: absolute;
    margin-left: 45px;
    margin-top: 4px;
    transition: fill 200ms ease;
}
.cmd-nav-getroute svg:hover {
    fill: #ffd800;
}

/* Command Dashboard Menu Button ------------------------------------------------*/

.cmd-dashboard {
    display: block;
    position: absolute;
    width: 240px;
    height: 42px;
    background-color: rgb(0, 163, 162);
    opacity: 0.8;
    right: 35px;
    bottom: 35px;
    -webkit-border-radius: 0px 0px 35px 6px;
    -webkit-box-shadow: inset 0px 0px 20px rgba(42, 239, 237, 0);
    -webkit-transition: box-shadow .18s ease-in-out;
    border-radius:  0 0 35px 6px;
}

.cmd-dashboard:hover {
    box-shadow: inset 0px 0px 20px rgba(42, 239, 237, 0.85);

}

.cmd-dashboard:active {
    background-color: rgb(0, 180, 179);
    opacity: .9;
}

.cmd-dashboard-title {
    font-family: "interface";
    font-style: normal;
    font-weight:400;
    font-size: 20px;
    color: #ffffff;
    float: right;
    margin-right: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



/* Command DataMap Menu Button -------------------------------------------------*/

.cmd-dataviz {
    display: block;
    width:240px;
    height:42px;
    background-color:#00a3a2;
    border-radius: 0px 0px 6px 35px;
    -moz-border-radius: 0px 0px 6px 35px;
    -webkit-border-radius: 0px 0px 6px 35px;
    position: absolute;
    opacity: .8;
    right: 290px;
    bottom: 35px;
    -webkit-box-shadow: inset 0px 0px 20px rgba(42, 239, 237, 0);
    -webkit-transition: box-shadow .18s ease-in-out;
}

.cmd-dataviz:hover {
    box-shadow: inset 0px 0px 20px rgba(42, 239, 237, 0.85);
}

.cmd-dataviz:active {
    background-color: rgb(0, 180, 179);
    opacity: .9;
}

.cmd-dataviz-title {
    font-family: "interface";
    font-style: normal;
    font-weight:400;
    font-size: 20px;
    color: #ffffff;
    margin-left: 30px;
    line-height: 20px;
    margin-top: 10px;
}



/* Command Quick Search -------------------------------------------------*/

.cmd-search {
    width:188px;
    /*height:25px; */
    background-color:#ffffff;
    border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px 1px 1px 1px;
    -webkit-border-radius: 1px 1px 1px 1px;
    opacity: .65;
    position: absolute;
    right: 330px;
    bottom: 73px;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    color:#333 !important;

}
.pac-container {
    margin-left: -205px;
    margin-top: -180px;

}


.cmd-search-input {
    font-family: "nimbus-sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #333;
    margin-left: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cmd-suggest-query {
    font-family: "ff-good-headline-web-pro-con";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    color: #ffffff;
}

.cmd-search-go {
    width: 37px;
    height: 25px;
    background-color: #003368;
    border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px 1px 1px 1px;
    -webkit-border-radius: 1px 1px 1px 1px;
    background-image:url("searchicon1.svg");
    background-size: 16px 16px;
    background-position:center;
    background-repeat:no-repeat;
    opacity: .5;
    position: absolute;
    right: 290px;
    bottom: 85px;
    transition: background-color, opacity .22s ease-in-out;
    -moz-transition: background-color, opacity .22s ease-in-out;
    -webkit-transition: background-color, opacity .22s ease-in-out;
}
.cmd-search-go:hover {
    background-color: #003368;
    opacity: 1;
}
.cmd-search-go:active {
    background-color:#1e81d8;
    opacity: 1;
}


#accordian {
    background: #004050;
    width: 250px;
    margin: 100px auto 0 auto;
    color: white;
    /*Some cool shadow and glow effect*/
    box-shadow:
        0 5px 15px 1px rgba(0, 0, 0, 0.6),
        0 0 200px 1px rgba(255, 255, 255, 0.5);
}
/*heading styles*/
#accordian h3 {
    font-size: 12px;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
    /*fallback for browsers not supporting gradients*/
    background: #003040;
    background: linear-gradient(#003040, #002535);
}
/*heading hover effect*/
#accordian h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
    font-size: 16px;
    margin-right: 10px;
}
/*list items*/
#accordian li {
    list-style-type: none;
}
/*links*/
#accordian ul ul li a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    line-height: 27px;
    display: block;
    padding: 0 15px;
    /*transition for smooth hover animation*/
    transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
    background: #003545;
    border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
    display: none;
}
#accordian li.active ul {
    display: block;
}

.bottom_arrow{
    width: 16px;
    float: right;
    display: none;

}
.bottom_arrow:hover{

}
.maptype{

    font-size: 20px;
  /*  display: table; */
    color:#fff;
    padding-top: 20px;
    overflow-y: hidden;
    float: right;
    z-index: 1;
    position: absolute;
    bottom: 116px;
    right: 290px;
}
.maptype li {
    list-style: none;
    background-color: #109698;

    line-height:48px;
    width: 0px;

    opacity: 0;
    margin-bottom:5px;
    text-align: left;
    vertical-align: middle;
    float: right;
    overflow: hidden;
    z-index: 4;

}
.mapimg{
    width: 48px;
    height: 48px;
    float: left;
    display: none;
}
.panel{
    margin-left: 10px;
}
#cmd-panel{
    bottom: 0px;
    height: 160px;
    position: absolute;
    right: 0;
    width: 530px;

}
.cmd-mapstyles-item span{
    position: relative;
}
.imgborder{
    background-color: #fff;
    height: 0px;
    width: 8px;
    float: left;
    position: absolute !important;
    bottom: 0;
    left:40px;

}
.arrow_box { position: relative; background: #88b7d5;opacity: 0;z-index: -1; } .arrow_box:after { left: -50px; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(136, 183, 213, 0); border-left-color: rgba(0, 0, 0, 0.9); border-width: 24px; margin-top: -24px; }
.arrow_box:before {
    background-color: #000;
    opacity: 0.9;
    position: absolute;
    left:-242px;
    width: 192px;
    content: "&nbsp;";
    color:#000;

}
.menudesc{
    cursor: pointer;
    padding-left: 10px;
}
.weather-des{
    float: right;
    width: 100px;
}

/* My location */



.myloc-circle {
    position: relative;
    height: 300px;
    width: 300px;
    background-color: rgba(7, 147, 147, 0.1);
    border-radius: 300px;
    border-top: 1px solid rgba(36, 219, 200, 0.4);
    border-left: 1px solid rgba(36, 219, 200, 0.4);
    border-right: 1px solid rgba(36, 219, 200, 0.4);
    border-bottom: 1px solid rgba(36, 219, 200, 0.4);

}

.myloc {
    height: 16px;
    width: 16px;
    position: absolute;
    left: 9%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
background:url("../images/myloc.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.myloc:hover{
  background:url("../images/myloc_hover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
}

.getdir {
    height: 16px;
    width: 16px;
    position: absolute;
    left: 20%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
background:url("../images/getdir.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.getdir:hover{
  background:url("../images/getdir_hover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
}


.myloc-icon {
    fill: #1ebc91;
    }

a.tooltips {
  position: relative;
/*  display: inline; */

}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #009B8B;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 2px;
}
a.tooltips span:after {
  content: 'You are within 5691 meters from here';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #009B8B;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.7;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

/* google place container */

.pac-container {

    width: 210px;

    height: auto;

    background-color: rgba(200, 200, 200, 0.80);

}

.currentDot{
 position: absolute;
 border:0px solid white;
 transform: rotate(45deg);
 z-index: 12000;
}
.currentLocCat{
    background: black;
    color: white;
    height: 20px;
    width: auto;margin-top: 2px;
    display: inline-block;
}
.currentLocTitle{
    color: black;
    background: #1dd7cc;
    widows: auto;
    height: 20px;
    display: inline-block;
}
.currentLocTitle:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #1dd7cc;
    position: absolute;
    right: -13px;
    top: -10px;
    transform: rotate(-135deg);
}
.currentLocCat:after{
   content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
    position: absolute;
    right: -13px;
    top: 22px;

    transform: rotate(135deg);
}
.rightPopup{
    position: absolute;
    right: 45px;
    top:-4px;
    text-align: right;
    display: inline-block;

}
.pac-item {

    width: 210px;

    height: 32px;

    background-color: transparent;

    font-family: "azo-sans-web";

    font-weight: 400;

    font-style: normal;

    font-size: 11px;

    color: #000;

}



.pac-item:hover {

    width: 210px;

    height: 32px;

    background-color: rgba(255, 255, 255, 0.60);

}



.pac-matched {

    font-family: "azo-sans-web";

    font-weight: 700;

    font-style: normal;

    font-size: 13px;

    color: #000;

}



.pac-item-query {

    font-family: "azo-sans-web";

    font-weight: 400;

    font-style: normal;    font-size: 13px;

    color: #000;

}



.pac-icon {

    width: 12px;

    height: 16px;

    fill: #a6aaaa;

}

/* google place container ends */
