/*!
*
* Government of Alberta Stylesheets
* REVISION: 0.3a
* CSS Compiled on: 2015-02-19 15:51:37 -0700
* To obtain the latest version for your GoA project, contact: James.M.Wong@gov.ab.ca
*
*/
/* line 10, ../sass/bootstrap/_forms.scss */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

/* line 20, ../sass/bootstrap/_forms.scss */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

/* line 32, ../sass/bootstrap/_forms.scss */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

/* line 47, ../sass/bootstrap/_forms.scss */
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 52, ../sass/bootstrap/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

/* line 60, ../sass/bootstrap/_forms.scss */
input[type="file"] {
  display: block;
}

/* line 65, ../sass/bootstrap/_forms.scss */
input[type="range"] {
  display: block;
  width: 100%;
}

/* line 71, ../sass/bootstrap/_forms.scss */
select[multiple],
select[size] {
  height: auto;
}

/* line 77, ../sass/bootstrap/_forms.scss */
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 84, ../sass/bootstrap/_forms.scss */
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857;
  color: #000;
}

/* line 115, ../sass/bootstrap/_forms.scss */
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #000;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/* line 57, ../sass/bootstrap/mixins/_forms.scss */
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
/* line 103, ../sass/bootstrap/mixins/_vendor-prefixes.scss */
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
/* line 107, ../sass/bootstrap/mixins/_vendor-prefixes.scss */
.form-control:-ms-input-placeholder {
  color: #999;
}
/* line 108, ../sass/bootstrap/mixins/_vendor-prefixes.scss */
.form-control::-webkit-input-placeholder {
  color: #999;
}
/* line 141, ../sass/bootstrap/_forms.scss */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}

/* line 153, ../sass/bootstrap/_forms.scss */
textarea.form-control {
  height: auto;
}

/* line 165, ../sass/bootstrap/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 178, ../sass/bootstrap/_forms.scss */
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    line-height: 34px;
  }

  /* line 184, ../sass/bootstrap/_forms.scss */
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm {
    line-height: 1.5;
  }

  /* line 190, ../sass/bootstrap/_forms.scss */
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg {
    line-height: 1.33;
  }
}
/* line 204, ../sass/bootstrap/_forms.scss */
.form-group {
  margin-bottom: 15px;
}

/* line 213, ../sass/bootstrap/_forms.scss */
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 220, ../sass/bootstrap/_forms.scss */
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

/* line 228, ../sass/bootstrap/_forms.scss */
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}

/* line 237, ../sass/bootstrap/_forms.scss */
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

/* line 243, ../sass/bootstrap/_forms.scss */
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

/* line 252, ../sass/bootstrap/_forms.scss */
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

/* line 264, ../sass/bootstrap/_forms.scss */
input[type="radio"][disabled], input[type="radio"].disabled, fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled],
input[type="checkbox"].disabled, fieldset[disabled]
input[type="checkbox"] {
  cursor: not-allowed;
}

/* line 273, ../sass/bootstrap/_forms.scss */
.radio-inline.disabled, fieldset[disabled] .radio-inline,
.checkbox-inline.disabled, fieldset[disabled]
.checkbox-inline {
  cursor: not-allowed;
}

/* line 283, ../sass/bootstrap/_forms.scss */
.radio.disabled label, fieldset[disabled] .radio label,
.checkbox.disabled label, fieldset[disabled]
.checkbox label {
  cursor: not-allowed;
}

/* line 295, ../sass/bootstrap/_forms.scss */
.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}
/* line 302, ../sass/bootstrap/_forms.scss */
.form-control-static.input-lg, .form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}

/* line 71, ../sass/bootstrap/mixins/_forms.scss */
.input-sm, .form-group-sm .form-control {
  height: 1.5;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}

/* line 79, ../sass/bootstrap/mixins/_forms.scss */
select.input-sm, .form-group-sm .form-control {
  height: 1.5;
  line-height: 1.5;
}

/* line 84, ../sass/bootstrap/mixins/_forms.scss */
textarea.input-sm, .form-group-sm .form-control,
select[multiple].input-sm, .form-group-sm .form-control {
  height: auto;
}

/* line 71, ../sass/bootstrap/mixins/_forms.scss */
.input-lg, .form-group-lg .form-control {
  height: 1.33;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0;
}

/* line 79, ../sass/bootstrap/mixins/_forms.scss */
select.input-lg, .form-group-lg .form-control {
  height: 1.33;
  line-height: 1.33;
}

/* line 84, ../sass/bootstrap/mixins/_forms.scss */
textarea.input-lg, .form-group-lg .form-control,
select[multiple].input-lg, .form-group-lg .form-control {
  height: auto;
}

/* line 324, ../sass/bootstrap/_forms.scss */
.has-feedback {
  position: relative;
}
/* line 329, ../sass/bootstrap/_forms.scss */
.has-feedback .form-control {
  padding-right: 42.5px;
}

/* line 334, ../sass/bootstrap/_forms.scss */
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

/* line 346, ../sass/bootstrap/_forms.scss */
.input-lg + .form-control-feedback {
  width: 1.33;
  height: 1.33;
  line-height: 1.33;
}

/* line 351, ../sass/bootstrap/_forms.scss */
.input-sm + .form-control-feedback {
  width: 1.5;
  height: 1.5;
  line-height: 1.5;
}

/* line 8, ../sass/bootstrap/mixins/_forms.scss */
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
  color: #3c763d;
}
/* line 21, ../sass/bootstrap/mixins/_forms.scss */
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 24, ../sass/bootstrap/mixins/_forms.scss */
.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
/* line 31, ../sass/bootstrap/mixins/_forms.scss */
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
/* line 37, ../sass/bootstrap/mixins/_forms.scss */
.has-success .form-control-feedback {
  color: #3c763d;
}

/* line 8, ../sass/bootstrap/mixins/_forms.scss */
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline, .has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label, .has-warning.checkbox-inline label {
  color: #8a6d3b;
}
/* line 21, ../sass/bootstrap/mixins/_forms.scss */
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 24, ../sass/bootstrap/mixins/_forms.scss */
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
/* line 31, ../sass/bootstrap/mixins/_forms.scss */
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
/* line 37, ../sass/bootstrap/mixins/_forms.scss */
.has-warning .form-control-feedback {
  color: #8a6d3b;
}

/* line 8, ../sass/bootstrap/mixins/_forms.scss */
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: #a94442;
}
/* line 21, ../sass/bootstrap/mixins/_forms.scss */
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 24, ../sass/bootstrap/mixins/_forms.scss */
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
/* line 31, ../sass/bootstrap/mixins/_forms.scss */
.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
/* line 37, ../sass/bootstrap/mixins/_forms.scss */
.has-error .form-control-feedback {
  color: #a94442;
}

/* line 371, ../sass/bootstrap/_forms.scss */
.has-feedback label ~ .form-control-feedback {
  top: 25px;
}
/* line 374, ../sass/bootstrap/_forms.scss */
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}

/* line 385, ../sass/bootstrap/_forms.scss */
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

@media (min-width: 768px) {
  /* line 410, ../sass/bootstrap/_forms.scss */
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  /* line 417, ../sass/bootstrap/_forms.scss */
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  /* line 424, ../sass/bootstrap/_forms.scss */
  .form-inline .form-control-static {
    display: inline-block;
  }
  /* line 428, ../sass/bootstrap/_forms.scss */
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  /* line 432, ../sass/bootstrap/_forms.scss */
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  /* line 440, ../sass/bootstrap/_forms.scss */
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  /* line 444, ../sass/bootstrap/_forms.scss */
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  /* line 452, ../sass/bootstrap/_forms.scss */
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  /* line 459, ../sass/bootstrap/_forms.scss */
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  /* line 463, ../sass/bootstrap/_forms.scss */
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  /* line 470, ../sass/bootstrap/_forms.scss */
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}

/* line 492, ../sass/bootstrap/_forms.scss */
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
/* line 502, ../sass/bootstrap/_forms.scss */
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
/* line 508, ../sass/bootstrap/_forms.scss */
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.form-horizontal .form-group:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 515, ../sass/bootstrap/_forms.scss */
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
/* line 526, ../sass/bootstrap/_forms.scss */
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  /* line 536, ../sass/bootstrap/_forms.scss */
  .form-horizontal .form-group-lg .control-label {
    padding-top: 14.3px;
  }
}
@media (min-width: 768px) {
  /* line 543, ../sass/bootstrap/_forms.scss */
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
  }
}

/* line 11, ../sass/bootstrap/_navbar.scss */
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.navbar:before, .navbar:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.navbar:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 11, ../sass/bootstrap/_navbar.scss */
  .navbar {
    border-radius: 0;
  }
}

/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.navbar-header:before, .navbar-header:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.navbar-header:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 31, ../sass/bootstrap/_navbar.scss */
  .navbar-header {
    float: left;
  }
}

/* line 50, ../sass/bootstrap/_navbar.scss */
.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.navbar-collapse:before, .navbar-collapse:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.navbar-collapse:after {
  clear: both;
}
/* line 59, ../sass/bootstrap/_navbar.scss */
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  /* line 50, ../sass/bootstrap/_navbar.scss */
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  /* line 68, ../sass/bootstrap/_navbar.scss */
  .navbar-collapse.collapse {
    display: block !important;
    visibility: visible !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  /* line 76, ../sass/bootstrap/_navbar.scss */
  .navbar-collapse.in {
    overflow-y: visible;
  }
  /* line 82, ../sass/bootstrap/_navbar.scss */
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 93, ../sass/bootstrap/_navbar.scss */
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  /* line 93, ../sass/bootstrap/_navbar.scss */
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}

/* line 109, ../sass/bootstrap/_navbar.scss */
.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  /* line 109, ../sass/bootstrap/_navbar.scss */
  .container > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

/* line 129, ../sass/bootstrap/_navbar.scss */
.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  /* line 129, ../sass/bootstrap/_navbar.scss */
  .navbar-static-top {
    border-radius: 0;
  }
}

/* line 139, ../sass/bootstrap/_navbar.scss */
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  /* line 139, ../sass/bootstrap/_navbar.scss */
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}

/* line 151, ../sass/bootstrap/_navbar.scss */
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

/* line 155, ../sass/bootstrap/_navbar.scss */
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

/* line 164, ../sass/bootstrap/_navbar.scss */
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
/* line 171, ../sass/bootstrap/_navbar.scss */
.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}
/* line 176, ../sass/bootstrap/_navbar.scss */
.navbar-brand > img {
  display: block;
}
@media (min-width: 768px) {
  /* line 181, ../sass/bootstrap/_navbar.scss */
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

/* line 194, ../sass/bootstrap/_navbar.scss */
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}
/* line 207, ../sass/bootstrap/_navbar.scss */
.navbar-toggle:focus {
  outline: 0;
}
/* line 212, ../sass/bootstrap/_navbar.scss */
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
/* line 218, ../sass/bootstrap/_navbar.scss */
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  /* line 194, ../sass/bootstrap/_navbar.scss */
  .navbar-toggle {
    display: none;
  }
}

/* line 233, ../sass/bootstrap/_navbar.scss */
.navbar-nav {
  margin: 7.5px -15px;
}
/* line 236, ../sass/bootstrap/_navbar.scss */
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  /* line 244, ../sass/bootstrap/_navbar.scss */
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  /* line 252, ../sass/bootstrap/_navbar.scss */
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  /* line 256, ../sass/bootstrap/_navbar.scss */
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  /* line 258, ../sass/bootstrap/_navbar.scss */
  .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  /* line 233, ../sass/bootstrap/_navbar.scss */
  .navbar-nav {
    float: left;
    margin: 0;
  }
  /* line 271, ../sass/bootstrap/_navbar.scss */
  .navbar-nav > li {
    float: left;
  }
  /* line 273, ../sass/bootstrap/_navbar.scss */
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/* line 287, ../sass/bootstrap/_navbar.scss */
.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-top: 8px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  /* line 410, ../sass/bootstrap/_forms.scss */
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  /* line 417, ../sass/bootstrap/_forms.scss */
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  /* line 424, ../sass/bootstrap/_forms.scss */
  .navbar-form .form-control-static {
    display: inline-block;
  }
  /* line 428, ../sass/bootstrap/_forms.scss */
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  /* line 432, ../sass/bootstrap/_forms.scss */
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto;
  }
  /* line 440, ../sass/bootstrap/_forms.scss */
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  /* line 444, ../sass/bootstrap/_forms.scss */
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  /* line 452, ../sass/bootstrap/_forms.scss */
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  /* line 459, ../sass/bootstrap/_forms.scss */
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0;
  }
  /* line 463, ../sass/bootstrap/_forms.scss */
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  /* line 470, ../sass/bootstrap/_forms.scss */
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  /* line 299, ../sass/bootstrap/_navbar.scss */
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
  /* line 303, ../sass/bootstrap/_navbar.scss */
  .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  /* line 287, ../sass/bootstrap/_navbar.scss */
  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* line 328, ../sass/bootstrap/_navbar.scss */
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* line 333, ../sass/bootstrap/_navbar.scss */
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 343, ../sass/bootstrap/_navbar.scss */
.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
/* line 346, ../sass/bootstrap/_navbar.scss */
.navbar-btn.btn-sm {
  margin-top: 24.25px;
  margin-bottom: 24.25px;
}
/* line 349, ../sass/bootstrap/_navbar.scss */
.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}

/* line 359, ../sass/bootstrap/_navbar.scss */
.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  /* line 359, ../sass/bootstrap/_navbar.scss */
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  /* line 379, ../sass/bootstrap/_navbar.scss */
  .navbar-left {
    float: left !important;
  }

  /* line 382, ../sass/bootstrap/_navbar.scss */
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  /* line 386, ../sass/bootstrap/_navbar.scss */
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}
/* line 397, ../sass/bootstrap/_navbar.scss */
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
/* line 401, ../sass/bootstrap/_navbar.scss */
.navbar-default .navbar-brand {
  color: #777;
}
/* line 403, ../sass/bootstrap/_navbar.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
/* line 410, ../sass/bootstrap/_navbar.scss */
.navbar-default .navbar-text {
  color: #777;
}
/* line 415, ../sass/bootstrap/_navbar.scss */
.navbar-default .navbar-nav > li > a {
  color: #777;
}
/* line 418, ../sass/bootstrap/_navbar.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
/* line 425, ../sass/bootstrap/_navbar.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
/* line 433, ../sass/bootstrap/_navbar.scss */
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
/* line 442, ../sass/bootstrap/_navbar.scss */
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
/* line 444, ../sass/bootstrap/_navbar.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
/* line 448, ../sass/bootstrap/_navbar.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
/* line 453, ../sass/bootstrap/_navbar.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
/* line 462, ../sass/bootstrap/_navbar.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555;
}
@media (max-width: 767px) {
  /* line 473, ../sass/bootstrap/_navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  /* line 475, ../sass/bootstrap/_navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  /* line 482, ../sass/bootstrap/_navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  /* line 490, ../sass/bootstrap/_navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
/* line 506, ../sass/bootstrap/_navbar.scss */
.navbar-default .navbar-link {
  color: #777;
}
/* line 508, ../sass/bootstrap/_navbar.scss */
.navbar-default .navbar-link:hover {
  color: #333;
}
/* line 513, ../sass/bootstrap/_navbar.scss */
.navbar-default .btn-link {
  color: #777;
}
/* line 515, ../sass/bootstrap/_navbar.scss */
.navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
  color: #333;
}
/* line 521, ../sass/bootstrap/_navbar.scss */
.navbar-default .btn-link[disabled]:hover, .navbar-default .btn-link[disabled]:focus, fieldset[disabled] .navbar-default .btn-link:hover, fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}

/* line 531, ../sass/bootstrap/_navbar.scss */
.navbar-inverse {
  background-color: #222;
  border-color: #090909;
}
/* line 535, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
/* line 537, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
/* line 544, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .navbar-text {
  color: #9d9d9d;
}
/* line 549, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}
/* line 552, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
/* line 559, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #090909;
}
/* line 567, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
/* line 577, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
/* line 579, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
/* line 583, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
/* line 588, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
/* line 596, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #090909;
  color: #fff;
}
@media (max-width: 767px) {
  /* line 607, ../sass/bootstrap/_navbar.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #090909;
  }
  /* line 610, ../sass/bootstrap/_navbar.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #090909;
  }
  /* line 613, ../sass/bootstrap/_navbar.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  /* line 615, ../sass/bootstrap/_navbar.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  /* line 622, ../sass/bootstrap/_navbar.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #090909;
  }
  /* line 630, ../sass/bootstrap/_navbar.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
/* line 641, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .navbar-link {
  color: #9d9d9d;
}
/* line 643, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
/* line 648, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .btn-link {
  color: #9d9d9d;
}
/* line 650, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus {
  color: #fff;
}
/* line 656, ../sass/bootstrap/_navbar.scss */
.navbar-inverse .btn-link[disabled]:hover, .navbar-inverse .btn-link[disabled]:focus, fieldset[disabled] .navbar-inverse .btn-link:hover, fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}

/* line 13, ../sass/forms.scss */
select, select.form-control, input.form-control {
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  -webkit-transition: border-color 500ms;
  -o-transition: border-color 500ms;
  transition: border-color 500ms;
}

/* line 18, ../sass/forms.scss */
.btn-default {
  -webkit-transition: background 500ms;
  -o-transition: background 500ms;
  transition: background 500ms;
}

/* line 22, ../sass/forms.scss */
.btn-primary {
  -webkit-transition: background 500ms;
  -o-transition: background 500ms;
  transition: background 500ms;
}
