* {
  margin: 0;
  padding: 0;
}

html {
	font-size: 18px;
}

body {
	font-size: 100%; 
	line-height: 1.61803;
	background: #f7f7f7;
	color: $gray;
}

header {
	font-family: $font-sans-serif;
	font-weight: bold;	
}

ul {
	list-style-type: none; 
}

a {
	padding-bottom: 2px;
	border-bottom: 1px solid $accent;
	@include transition(all, .2s, ease-in);
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	}	

	a:hover {
	padding-bottom: 0px;
	border-bottom: 0px solid transparent;
	color: $accent;
	}	

a:visted {
	color: inherit;
}

div {
	overflow: auto;
}

img {
	display: block;
	margin: 0 auto;
}

article {
	h1 {
	font-size: 3em;       /* 48 */
  line-height: 1em;     /* 48 */
  margin: 1em auto .5em;
font-family: $font-fancy;
	color: $gray-mid; 
	font-style: italic;
	text-align: center;
	margin: 1.5em auto 1em;
	width: 12.6667em;
	@include transition(all, .2s, ease-in-out);
	@media screen and (max-width: $mobile) {
		width: 80%;
	 }

	}


	  }

nav {
	margin: 2em auto;
	width: 22em;
	overflow: auto;
	font-family: $font-sans-serif;
	
	a {
		border: 0px solid transparent;
	}	

	li {
		float: left;
		margin-right: 3em;
	}

	li:last-child {
		margin-right: 0em;
	}

	li a {
	color: #AAA;
	text-decoration: none;
	}

	nav li a:hover {
	color: #333;
	text-shadow: 0px 0px 2px $gray-light;
	}
}

p {
  font-size: 1em;       /* 16 */
  line-height: 1.5em;   /* 24 */

	//should this stuff go here or in theme or layout?
	font-family: $font-serif;
	width: 36em;
  margin: 0 auto 1.5em;

	  @media screen and (max-width: $mobile) {
						width: 80%;
								  }
}

h1 {
	text-align: center;
  font-size: 1.5em;       /* 48 */
	width:	20em;;
	color: $gray-light;
  line-height: 1em;     /* 48 */
	font-family: $font-fancy;
  margin: 2em auto;

	  @media screen and (max-width: $mobile) {
						width: 80%;
								  }

}

h2 {
  font-size: 1.5em;     /* 24 */
  line-height: 1em;     /* 24 */
  margin: 4em 0em 2em;

	//should this in _base?
	font-family: $font-sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	width: 25.3333em;
	color: $accent;
}

h3, h4, h5, h6 {
  font-size: 1em;      /* 16 */
  line-height: 1.5em;  /* 24 */
	font-family: $font-sans-serif;
}

small {
	font-size: 0.7em;
	line-height: 1.714285714em;
	text-align: center;
	margin: 1em auto 2em;
	display: block;
	color: $gray-mid;
	font-weight: 200;
	font-family: $font-sans-serif;
}

pre {
	width: 36em;
	margin: 4em auto;
	padding: 2em;
}

ul, ol {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 auto 1.5em;
	width: 36em;
}

footer {
	width: 100%;
	overflow: auto;

	a {
	color: $accent;
	border: 0px solid transparent;
	}

	p {
	width: 100%;
	text-align: center;
	font-size: .75em;
	margin: 1.714285714em auto;
	color: #AAA;
	font-family: $font-sans-serif;
	}
}


hr {
	color: $gray-mid;
	margin: 4em auto;
	width: 36em;
}
