.d-inline_block { display: inline-block }

#post nav li {
	position: fixed;
	margin: 0em;
}

.nav {
	top: 40%;
	font-size: 2.25em;
}

nav .next {
	right: 0em;
}

nav .previous {
	left: 0em;
}

nav .home {
	font-size: 1.5em;
	bottom: .6667em;
	left: .6667em;
}

.l-font-center {
	text-align: center;
}

//whatsappening fix
#post svg {
	display: block;
	margin: 1em auto 4em;
}

.no-margin {
	margin: 0em;
}

.space {
	padding: 1em 0em;
}

.space-top {
    margin-top: 1em;
}

.l-center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.l-col-3 {
  -webkit-columns: 3;
  -moz-columns: 3;
  -ms-columns: 3;
  -o-columns: 3;
  columns: 3;
}

/* Markup free clearing
Details: http://www.positioniseverything.net/easyclearing.html
------------------------------------------------------- */
    .clearfix { display:block; }
    .clearfix:after {
        content:'';
        display:block;
        height:0;
        clear:both;
        visibility:hidden;
    }

.col0    { float:left; width:04.1666%; max-width:50px; }
.col1    { float:left; width:08.3333%; max-width:100px; }
.col2    { float:left; width:16.6666%; max-width:200px; }
.col3    { float:left; width:25.0000%; max-width:300px; }
.col4    { float:left; width:33.3333%; max-width:400px; }
.col5    { float:left; width:41.6666%; max-width:500px; }
.col6    { float:left; width:50.0000%; max-width:600px; }
.col7    { float:left; width:58.3333%; max-width:700px; }
.col8    { float:left; width:66.6666%; max-width:800px; }
.col9    { float:left; width:75.0000%; max-width:900px; }
.col10   { float:left; width:83.3333%; max-width:1000px; }
.col11   { float:left; width:91.6666%; max-width:1100px; }
.col12   { width:100%; display:block; }

.fifths > * {
  float: left;
    width: 20%;
}

.unlimiter .col0,
.unlimiter .col1,
.unlimiter .col2,
.unlimiter .col3,
.unlimiter .col4,
.unlimiter .col5,
.unlimiter .col6,
.unlimiter .col7,
.unlimiter .col8,
.unlimiter .col9,
.unlimiter .col10,
.unlimiter .col11 {
  max-width: none;
  }

  .margin0  { margin-left:04.1666%; }
  .margin1  { margin-left:08.3333%; }
  .margin2  { margin-left:16.6666%; }
  .margin3  { margin-left:25.0000%; }
  .margin4  { margin-left:33.3333%; }
  .margin5  { margin-left:41.6666%; }
  .margin6  { margin-left:50.0000%; }
  .margin7  { margin-left:58.3333%; }
  .margin8  { margin-left:66.6666%; }
  .margin9  { margin-left:75.0000%; }
  .margin10 { margin-left:83.3333%; }
  .margin11 { margin-left:91.6666%; }
  .margin12 { margin-left:100.0000%; }

  /* reverse margins on right-floated elements */
  .margin0r  { margin-right:04.1666%; }
  .margin1r  { margin-right:08.3333%; }
  .margin2r  { margin-right:16.6666%; }
  .margin3r  { margin-right:25.0000%; }
  .margin4r  { margin-right:33.3333%; }
  .margin5r  { margin-right:41.6666%; }
  .margin6r  { margin-right:50.0000%; }
  .margin7r  { margin-right:58.3333%; }
  .margin8r  { margin-right:66.6666%; }
  .margin9r  { margin-right:75.0000%; }
  .margin10r { margin-right:83.3333%; }
  .margin11r { margin-right:91.6666%; }
  .margin12r { margin-right:100.0000%; }

  .space6 { margin-top: 6em; margin-bottom: 6em; }

  .space-top0 { margin-top: .5em }
  .space-top1 { margin-top: 1em }
  .space-top2 { margin-top: 2em }
  .space-top3 { margin-top: 3em }
  .space-top4 { margin-top: 4em }
  .space-top6 { margin-top: 6em }
  .space-top8 { margin-top: 8em }


  .mr1 { margin-right: 1rem }

  .mb3 { margin-bottom: 3rem }
  .my3 { margin-top: 3rem; margin-bottom: 3rem;}

  @media all and (max-width: 700px){
    h3 { 
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .margin1 { margin: 0 }

    .col2, .col3, .col4, .col5, .col6, .col7 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    }

    .space-top3 { margin-top: 2rem }

    .polaroid {
        position: relative;
        height: 22rem;
        bottom: 0;
        right: 0;
        left: 5rem;
        margin-top: 2rem;
    }

    .polaroid img { width: 12rem }
  
  }
