.grid-item { 
	height: 16em;
	padding: 2em;
	float: left;
	cursor: pointer;
}

.grid-item img {
	height: 100%;
}


.first-paragraph {
					margin-top: 4em;
	}

	.first-paragraph:first-letter {
					font-size: 3em;
					font-family: $font-fancy;
					padding: .6667em  .3333em;
					margin-right: .3333em;
					margin-left: 0em;
					float: left;
					color: #FFF;
					background-color: $accent;
	}

//Illustrations

.illustration {
	h1 {
	display: none;
	left: 50%;
	position: absolute;
	}

	.container {
	overflow: initial;
	width: 16em;			
	margin: 6em auto 3em;
	position: relative;
	}

	.option {
	position: absolute;
	}
}
.head {
	width: 100%;
}

//Gears
.gears {
position: absolute;
display: none;
height: 26em;
width: 32em;
overflow: auto;
-webkit-transform: scale(0.2);
top: -9em;
left: -10em;
overflow: initial;
}

.gear {
	position: absolute;
	}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.gear.large {
	left: 15em;
	top: 2.5em;
	-webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;

}
.gear.medium {
	top: 1em;
	-webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;

}
.gear.small{
	top: 12em;
	left: 6em;
	-webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
	-webkit-animation-direction: reverse;
	-moz-animation-direction: reverse;
	animation-direction: reverse;
}
@-moz-keyframes reverse { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes reverse { 100% { -webkit-transform: rotate(360deg); } }
@keyframes reverse { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

//SPEECH BUBBLE

.bubble {
	display: none;
	top: 5em;
	right: -6.5em;
	width: 6em;
}

footer #mc_embed_signup form {
				font-family: $font-sans-serif;
				text-align: left;
				margin-bottom: 2em;
				overflow: auto;
				width: 36em;
				margin: 0 auto 4em;
				padding: 1em 0em;
}

#mc_embed_signup label {
				font-family: $font-sans-serif;
				text-transform: uppercase;
				color: #CCC;
}

#mc_embed_signup #mc-embedded-subscribe-form input.email {
				  padding: 8px 0;
					  font-size: 1em;
							font-family: $font-sans-serif;;
							  float: left;
								  clear:none;
									  margin:0em;
										  border: 0px solid #999;
											  width: 31em;
												  @media screen and (max-width: $mobile) {
																	    width: 80%;
																			  }
																}

																#mc_embed_signup #mc-embedded-subscribe-form input.button { //gross selector
																				  display: block;
																					  line-height: 2.5em;
																						  border-radius: 0;
																							  height: auto;
																								  float: left;
																									  clear:none;
																										  width: 2em;
																											  font-family: $font-sans-serif;
																												  text-transform: uppercase;
																													  background-color: $gray-mid;
																														  @include transition( background-color, .2s, linear );
																															  @media screen and (max-width: $mobile) {
																																				    width: 80%;
																																						  }
																																			}

																																			#mc_embed_signup #mc-embedded-subscribe-form input.button:hover {
																																							  background-color: $accent;
																																				}
.twitter-share-button {
					color: #AAA;
						border-bottom: 0px solid transparent;
							padding: 0em;
								font-family: $font-sans-serif;
									margin: 7em auto 0em;
										display: block;
											text-align: center;

												p {
																		margin-top: .5em;
																			}
															}

.blog {
	margin-top: 4em;
	font-size: 1em;
	font-family: $font-serif;

	li {
					font-family: $font-accent;
					font-size: 1em;
					text-transform: uppercase;
					text-align: center;
					color: $gray-mid;
					font-weight: bold;
					@include transition(all, .2s, ease-in-out);
	}

	li:hover {
	color: $accent;
	}

	li a {
	border-width: 0px;
	line-height: 3em;
	}
}

//WORK

.work {
	
	article {
		margin-top: 4em;
	}
 	
	p {
		font-family: 'inconsolata';	
	}

	img {
		width: 36em;
	}

nav ul .home {
					top: 1em;
					left: 1em;
					font-size: 1.1em;
} 

nav ul .home a {
					height: .5em;
					line-height: .6em;
					padding: .2em .5em .2em .15em;
					color: $gray-mid;

					i {
						font-size: 0.7em;
						position: relative;
						}
	}

	nav ul .home a:hover{
		color: $accent;
	}
}
