.font-small {
	font-size: .875em;
	line-height: 1.71em;
}

article h1:hover {
	color: $gray;
}

.accent {
    font-family: $font-accent;
}

.bold {
	font-weight: bold;
}

#typed-cursor{
	display: none;
}

.posts {
	a {
		border: 0px solid transparent;
	}
}

.twitter-share-button .icon-twitter {
	font-size: 2em;
    color: $light-blue;
}

//Animation Code



.playground {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

nav { 
  #twitter {
    -webkit-animation-delay: 1.25s;
    -moz-animation-delay: 1.25s;
  }
  #about {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
  }
  #work {
    -webkit-animation-delay: .75s;
    -moz-animation-delay: .75s;
  }
  #blog {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
  }
}

.t-about {
    font-size: .8em;
    font-family: 'effra';

    a {
        border-bottom: 0;
        font-weight: bold;
    }
}
