.font-small {
	font-size: .875em;
	line-height: 1.71em;
}

article h1:hover {
	color: $gray;
}

.bold {
	font-weight: bold;
}

#typed-cursor{
	display: none;
}

.posts {
	a {
		border: 0px solid transparent;
	}
}

.twitter-share-button .icon-twitter {
	font-size: 4em;
}

