$font-sans-serif:  'effra', Helvetica, Arial, sans-serif;
$font-serif: 'freight-text-pro', Palantino, Georgia, serif;
$font-accent: 'inconsolata';
$font-fancy: "acta-display";

$gray: #222;
$gray-mid: #666;
$gray-light: #E6E8EC;
$accent: #CE904E;
$dark: #364147;

$mobile: 767px;

//Mixins
//
@mixin transition($prop, $time, $ease) {
  -webkit-transition: $prop $time $ease;
    -moz-transition: $prop $time $ease; 
		-o-transition: $prop $time $ease;
        transition: $prop $time $ease;
        }
