@font-face {
    font-family: 'Mono';
    src: url('/font/GT-Pressura-Mono-Light.otf')
}

@font-face {
font-family: 'Apercu';
src: url('/font/apercu_regular_pro.otf')

}

$sans-serif:  'Mono', Helvetica, Arial, sans-serif;
$font-sans-serif:  'FF DIN OT', Helvetica, Arial, sans-serif;
$serif: 'freight-text-pro', Palantino, Georgia, serif;
$font-serif: 'freight-text-pro', Palantino, Georgia, serif;
$font-accent: 'Mono';
$font-fancy: "acta-display";

$gray: #222;
$gray-mid: #666;
$gray-mid-light: #B8B8B8;
$gray-light: #E6E8EC;
$accent: #CE904E;
$light-blue: #35AFF2;
$dark: #364147;

$white: #FFF;

$mobile: 767px;

//Mixins
//
@mixin transition($prop, $time, $ease) {
  -webkit-transition: $prop $time $ease;
    -moz-transition: $prop $time $ease; 
		-o-transition: $prop $time $ease;
        transition: $prop $time $ease;
        }
