@mixin transition($prop, $time, $ease) {
  -webkit-transition: $prop $time $ease;
  -moz-transition: $prop $time $ease;
  -o-transition: $prop $time $ease;
  transition: $prop $time $ease;
}

.view-square {
  .about {
  width: 70em;
  margin: 0px auto;
  overflow: hidden;
  }

  .post, .post:after {
  border-right-width: 0em !important;
  border-left-width: 0em !important;
  width: 23em !important;
  left:0px !important;

  //@include transition(all, .4s, ease-out)

  }
}

.posts {
  font-size: 115%;
  line-height: 1.5em;
  margin: -1.75em auto 0em auto; 
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

.slide-out .about {
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}