/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Mixins */

@mixin transition($prop, $time, $ease) {
  -webkit-transition: $prop $time $ease;
  -moz-transition: $prop $time $ease;
  -o-transition: $prop $time $ease;
  transition: $prop $time $ease;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

//vars
$break: 767px;


/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  color:#333;
}

.dark {
    background-color: #14081B;
    color:#444;
  }

a {
  color:inherit;
  text-decoration: none;
}

.post a {
border-bottom: 2px solid rgba(255,255,255, .5);
}

ul {
  list-style-type: none;
}

.head {
position: absolute;
width: 42rem;
font-size: 0.9em;
left: 50%;
margin-left: -21rem;
padding-bottom: 1em;
border-bottom: 1px solid rgba(255, 255, 255, 0.13);
z-index:100;
@media screen and (max-width: $break) {
    width: 80%;
    margin: 0em auto;
    left: 10%;
  }
}

header {
width: 51%;
float: left;
font-size: 1.75em;
margin: 1em 0em .5em 0em;
@media screen and (max-width: $break) {
    margin: 1em auto 0em;
    width: 8.6rem;
    float: none;
  }
}

::selection {
  background: #333;
  color:#FFF;
}

.content-spacing {
  width:42rem;
  margin: 0em auto;
  @media screen and (max-width: $break) {
    width: 80%;
    padding-left: 5%;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.display-block {
  display: block;
}

.entry .color-white {
  color: white;
}

.fancy {
  font-size: .5em;
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.span2 {
  width: 50%;
  float: left;
}

.font-large {
  font-size:1.5em;
}

.font-mini {
  font-size: .5em;
}

.font-dark {
  color: #333;
}

.font-light {
  color: #e0e0e0;
}

.space-top {
  margin-top:2em;
}

.space-top_mini {
  margin-top: .6em;
}

.space_big {
  margin: 4em 0em 10em 0em;
}

.space-bottom {
  margin-bottom:2em;
}

  .flexbox {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  .flexbox.flex_space-between { 
    justify-content: space-between;
  }

  .flexbox.flex_center { 
    justify-content: center;
  }

  .flexbox.flex_space-around { 
    justify-content: space-around;
  }



/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  line-height: 1.5em;

  .browse-entries {
    font-size: 1.3em;
    height: 2.5em;
  }
  .browse-label {
    text-transform: uppercase;
    margin: 1px;
    width: 100%;
  }
}

.list-views {
  list-style-type: none;
}

.shape {
  height: .9em;
  width: .9em;

  &.view-option_square {
  background-color: #CCC;
  margin: 4px 0px 0px 20px;
  }

  &.view-option_diamond {
    float: right;
    width: 0em;
    height: 0em;
    border-top: 0px solid #CCC;
    border-right: 12px solid rgba(0, 0, 0, 0);
    border-bottom: 9px solid;
    border-left: 12px solid rgba(0, 0, 0, 0);
    border-bottom-color: #CCC;
    position: relative;
    top:4px;
    &:after {
    content: '';
    width: 0em;
    height: 0em;
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    border-right: 12px solid rgba(0, 0, 0, 0);
    border-top: 9px solid;
    border-left: 12px solid rgba(0, 0, 0, 0);
    border-top-color: inherit;
    position: absolute;
    top: 9px;
    left: -12px;
    }
  }
}

/* POSTS */

.posts {
  margin: 0px auto;
  list-style-type: none;
  height: 100%;
}

.view-diamond {

  .about {
    font-size: 80%;
    margin-top: 3em;
  }

  .post {
    font-size: 2em;
    text-align: center;
    margin: .1em auto;
  }
  .post-title {
    color: #FFF;
    position: relative;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.15), 2px 2px rgba(0, 0, 0, 0.15), 3px 3px rgba(0, 0, 0, 0.15);
  }
  .post {
    &:nth-child(1), &:nth-child(11) {
      width: 0;
      height: 0;
      border-left: 62px solid rgba(0, 0, 0, 0);
      border-right: 62px solid rgba(0, 0, 0, 0);
      z-index: 1000;
      position: relative;
      font-size: 0em;
    }
    &:nth-child(1) {
      border-bottom: 45px solid #333;
    }
    &:nth-child(11) {
      border-top: 45px solid #333;
    }
    &:nth-child(2), &:nth-child(10) {
      width: 4.4em;
      border-left: 41px solid rgba(0, 0, 0, 0);
      border-right: 41px solid rgba(0, 0, 0, 0);
      height: 0;
    }
    &:nth-child(2) {
      border-bottom: 1em solid #333;
    }
    &:nth-child(10) {
      border-top: 1em solid #333;
      .post-title {
        top: -3.3em;
      }
    }
    &:nth-child(2) .post-title, &:nth-child(10) .post-title {
      font-size: .1em;
    }
    &:nth-child(3) {
      width: 7.4em;
      border-left: 60px solid rgba(0, 0, 0, 0);
      border-right: 60px solid rgba(0, 0, 0, 0);
      height: 0;
    }
  }
}

.post:nth-child(9) {
  width: 7.4em;
  border-left: 60px solid rgba(0, 0, 0, 0);
  border-right: 60px solid rgba(0, 0, 0, 0);
  height: 0;
}

.post {
  &:nth-child(3) {
    border-bottom: 1.5em solid #333;
  }
  &:nth-child(9) {
    border-top: 1.5em solid #333;
  }
  &:nth-child(3) .post-title, &:nth-child(9) .post-title {
    font-size: .5em;
  }
  &:nth-child(3) .post-title {
    top: .55em;
  }
  &:nth-child(9) .post-title {
    top: -2.5em;
  }
  &:nth-child(4), &:nth-child(8) {
    width: 11.7em;
    border-left: 80px solid rgba(0, 0, 0, 0);
    border-right: 80px solid rgba(0, 0, 0, 0);
    height: 0;
  }
  &:nth-child(4) {
    border-bottom: 2em solid #333;
  }
  &:nth-child(8) {
    border-top: 2em solid #333;
  }
  &:nth-child(4) .post-title, &:nth-child(8) .post-title {
    font-size: 1em;
  }
  &:nth-child(4) .post-title {
    top: .6em;
  }
  &:nth-child(8) .post-title {
    top: -1.3em;
  }
  &:nth-child(5), &:nth-child(7) {
    width: 17.4em;
    border-left: 99px solid rgba(0, 0, 0, 0);
    border-right: 99px solid rgba(0, 0, 0, 0);
    height: 0;
    z-index: 2;
    /* bit of a hacky way to deal with the center diamond piece overlapping */
    position: relative;
  }
  &:nth-child(5) {
    border-bottom: 2.5em solid #333;
  }
  &:nth-child(7) {
    border-top: 2.5em solid #333;
  }
  &:nth-child(5) .post-title, &:nth-child(7) .post-title {
    font-size: 1.5em;
  }
  &:nth-child(5) .post-title {
    top: .6em;
  }
  &:nth-child(7) .post-title {
    top: -1em;
  }
  &:nth-child(6) {
    margin: 70px auto 0em;
    width: 24.3em;
    height: 0;
    border-top: 0px solid #333;
    border-right: 91px solid rgba(0, 0, 0, 0);
    border-bottom: 67px solid;
    border-left: 91px solid rgba(0, 0, 0, 0);
    border-bottom-color: #333;
    position: relative;
    top: -67px;
    &:after {
      content: '';
      position: absolute;
      left: -91px;
      top: 67px;
      width: 24.3em;
      height: 0;
      border-bottom: 67px solid rgba(0, 0, 0, 0);
      border-right: 91px solid rgba(0, 0, 0, 0);
      border-top: 67px solid;
      border-left: 91px solid rgba(0, 0, 0, 0);
      border-top-color: inherit;
      z-index: -2;
    }
    .post-title {
      font-size: 2em;
      top: .82em;
    }
  }
  &:nth-child(n+12) {
    display: none;
  }
}

.name {
  color: hsl(0, 0%, 88%);
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.lato {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.footer {
  font-size: 1.5em;
  padding: .25em 0em;
  position: fixed;
  bottom: 1em;
  width: 55%;
  border-bottom: 2px dotted #F0F0F0;

  .more {
    min-width: 5.5em;
  }

// .nav-item {
//   width: 50%;
//   float: left;
// }


}

.font-small {
  font-size: .65em;
  padding-top: .35em;
}

.italic {
  font-style: italic;
}

.opacity {
  opacity: 0 !important;
}

.entry-type {
  font-weight: normal;
  opacity: 1;
  /*FUN FACT! animating width fucks with line height, effectively making it 0*/
}

.char5 {
position: absolute;
-webkit-transform: rotate(180deg);
margin-top: 2px;
margin-left: 2px;
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.char2:hover {
  cursor: pointer;
}

.char6 {
  padding-left: 1em;
}

/*****************************************************************************/
/*
/* ENTRY PAGE
/*
/*****************************************************************************/

.entry .entry-content {
  margin: 2.5em auto 12.5em auto;
  line-height: 1.5em;
}

/* standard */

.entry-content {
  pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
    overflow: scroll;
  }
  code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
  }
  pre {
    code {
      border: none;
    }
    &.terminal {
      border: 1px solid #000;
      background-color: #333;
      color: #FFF;
      code {
        background-color: #333;
      }
    }
  }
}

/* terminal */

.browse {
  width: 25em;
  margin: 1em 0em;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.browse-name {
  font-size: 1.5em;
  margin: 0em;
}

.metadata {
  background-color: #333;
  width: 100%;
  height: 5em;
}

.hover-show {
  display: none;
}

.hover-show:hover {
  display: block;
}

/*****************************************************************************/
/*
/* ENTRIES
/*
/*****************************************************************************/
article { 
  font-size: 1.25em;
  line-height: 1.75em;
  background-color: #FFF;
}

p {
  padding:.75em 0em 1em 0em;
}

p.no-pad {
  padding: 0em;
}

p.bold {
  font-weight: bold;
}

.idea p, .entry p {
  line-height: 1.5em;
  font-size: .9em;
}

.desc {
padding: 8em 0em 3em;
border-bottom: 0px;
color: rgba(255, 255, 255, 0.9);
line-height: 1.5em;
position: relative;
overflow: hidden;
font-size: 1.25em;
@media screen and (max-width: $break) {
    padding-top: 9em;
  }
}

.vsco {
background: url(http://image.vsco.co/1/52c1fc1fd7f3e235324/52c8615a736708963d000012/800x534/vsco_010414_6.jpg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
opacity: 0.25;
}

.idea {
  margin-top: 3em;
  padding-bottom: 3em;
  border-bottom: 2px dotted #F0F0F0;
  font-size: 1.25em;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}

.entry-content .name {
  display: none;
}


.first-paragraph:first-letter {
font-size: 1.5em;
padding-top: 0.5em;
padding-right: .7em;
margin-right: .5em;
padding-left: .7em;
margin-left: 0em;
padding-bottom: .5em;
float: left;
color: #FFF;
background-color: #00F;
}

.first-paragraph::first-line {
text-transform: uppercase;
}

.entry-sort {
height: 1em;
padding: 2.6em 0em .76em;
font-size: .9em;
font-family: 'Lato', sans-serif;
margin: 0em auto;
width: 25em;
}

.entry-sort.meta {
  width:25em;
}

.sort-opt .selected {
  color:#333;
}

.sort-opt {
  padding-right:1em;
  line-height: .9em;
}

.entry-sort.meta .sort-opt {
  width:6em;
}

.sort-opt:last-child {
  padding-right: 0em;
}

.sort-opt:hover a {
  text-decoration: line-through;
}

.entry {
  font-size: 1.75em;
  line-height: .5em;
  opacity: .5;
  @include transition(all, .3s, ease);
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.entry a {
  display: inline-block;
  line-height: .8em;
}

.entry:hover { 
  opacity: 1;
}

.quote {
  margin: 1em 10%;
  padding: 2em;
  color: #AAA;
  height: 10em;
}

.quote .mark {
  font-size: 15em;
  color: #F0F0F0;
  position: relative;
  z-index: -1;
}
.quote .mark_left {
  bottom: -.39em;
  left: -1.2em;
}
.quote .mark_right {
  bottom: 0.15em;
  left: 1em;
}

sup {
  font-size: .6em;
  padding-left: .2em;
}

article a, .idea a {
color: #14081B;
text-decoration: underline;
padding: 0em 5px;
}

article a:hover, .idea a:hover {
text-decoration: none;
color: blue;
}

article .font-small {
  font-size: .8em;
  line-height: 1.2em;
}

img {
  width:100%;
}

.img-half {
  width:50%;
  margin: 0px 25%;
}

.home {
  position: fixed;
  font-size: 1.5em;
  bottom:1.5em;
  left:.6em;
  color:#CCC;
  @include transition(color, .2s, linear);
}

.home:hover {
  color: #14081B;
}

.nav {
  position: fixed;
  bottom:50%;
  font-size: 2.5em;
  color:#CCC;

  @include transition(color, .2s, linear);
}

.nav:hover {
  color: #14081B;
}

.nav.next {
  right:0em;
}

.nav.previous {
  left:0em;
}

#mc_embed_signup form {
text-align: left;
margin-bottom: 2em;
overflow: auto;
width: 69%;
margin: 0 auto 1em;
}

#mc_embed_signup label {
font-family: 'Lato', sans-serif;
text-transform: uppercase;
color: #CCC;
}

#mc_embed_signup #mc-embedded-subscribe-form input.email {
  padding: 6px 0;
  font-size: 1.25em;
  float: left;
  clear:none;
  margin:0em;
  border: 0px solid #999;
  width: 70%;
  @media screen and (max-width: $break) {
    width: 80%;
  }
}

#mc_embed_signup #mc-embedded-subscribe-form input.button { //gross selector
  display: block;
  line-height: 2.5em;
  border-radius: 0;
  height: auto;
  float: left;
  clear:none;
  width: 10%;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  background-color: #CCC;
  @include transition( background-color, .2s, linear );
  @media screen and (max-width: $break) {
    width: 80%;
  }
}

#mc_embed_signup #mc-embedded-subscribe-form input.button:hover {
  background-color: #14081B;
}


.twitter {
font-family: 'Lato', sans-serif;
text-transform: uppercase;
color: #CCC;
position: fixed;
bottom: 1em;
width: inherit;
z-index: -1;
}

.twitter a {
  text-decoration: underline;
}
