<!DOCTYPE html>
<html>
<head>
        <title>{{ page.title }}</title>
        <meta name="description" width="the digital emesis of Duncan Graham. No little plans made.">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <meta name=”twitter:site” content=”@duncangraham>

        <link rel="shortcut icon" id="favicon" href="/img/favicon.png" type="image/png">
				
        <link rel="stylesheet" href="css/main.css">
				
        <!-- Icon Fonts CSS -->
        <link rel="stylesheet" href="/css/dvncan.css">
        <!--[if IE 7]>
        <link rel="stylesheet" href="/css/dvncan-ie7.css">
        <![endif]-->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body>
        {{ content }}
        <!-- JS -->
        <!-- I have the fonts down here solely because they were preventing paints when I was on slow internet in nicaragua -->
        <script type="text/javascript" src="//use.typekit.net/iil6ecz.js"></script>
        <script type="text/javascript">
                try {
                        Typekit.load();
                } catch (e) {}
        </script>
        <script src="{{ root_path }}js/jquery.js"></script>
				<script src="{{ root_path }}js/typed.js"></script>
        <script src="{{ root_path }}js/main.js"></script>
        <script src="{{ root_path }}js/illustration.js"></script>
        <script>
                ! function(g, s, q, r, d) {
                        r = g[r] = g[r] || function() {
                                (r.q = r.q || []).push(
                                        arguments)
                        };
                        d = s.createElement(q);
                        q = s.getElementsByTagName(q)[0];
                        d.src = '//d1l6p2sc9645hc.cloudfront.net/tracker.js';
                        q.parentNode.
                        insertBefore(d, q)
                }(window, document, 'script', '_gs');

                _gs('GSN-301040-Q');
        </script>
</body>
</html>
