<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name=”twitter:site” content=”@duncangraham>
        <!-- rad fonts -->
        <link href="http://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet" type="text/css">
        <!-- Icon Fonts CSS -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/dvncan.css">
        <link rel="stylesheet" href="/css/animation.css">
        <link rel="shortcut icon" id="favicon" href="/img/favicon.png" type="image/png">
        <!--[if IE 7]>
        <link rel="stylesheet" href="/css/dvncan-ie7.css">
        <![endif]-->
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/syntax.css">


        <script>
          !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
          arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
          d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
          insertBefore(d,q)}(window,document,'script','_gs');
          
          _gs('GSN-301040-Q');
        </script>
    </head>
    <body class="hover-active">
        <div class="site">
            <div class="head">
                <header class="name">
                    <span class="char1">D</span>
                    <span class="char2 insanity">V</span>
                    <span class="char3">N</span>
                    <span class="char4">C</span>
                    <span class="char5">V</span>
                    <span class="char6">N</span>
                </header>
                <ul class="entry-sort flexbox flex_space-around">
                    <li class="sort-opt font-light"><a href="/index.html">BLOG</a></li>
                    <li class="sort-opt font-light"><a href="/portfolio.html">WORK</a></li>
                    <li class="sort-opt font-light"><a href="/ideas.html">IDEAS</a></li>
                    <li class="sort-opt font-light"><a href="/about.html">ABOUT</a></li>
                    <li class="sort-opt font-light"><a href="https://twitter.com/duncangraham">TWITTER</a></li>
                </ul>
            </div>
            {{ content }}
            <!-- JS -->
            <!-- I have the fonts down here solely because they were preventing paints when I was on slow internet in nicaragua -->
            <script type="text/javascript" src="//use.typekit.net/iil6ecz.js"></script>
            <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
            <script src="{{ root_path }}js/jquery.js"></script>
            <script src="{{ root_path }}js/jquery.mousewheel.js"></script>
            <script src="{{ root_path }}js/main.js"></script>
            <script src="{{ root_path }}js/diamond.js"></script>
        </body>
    </html>
