<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- rad fonts -->
        <link href="http://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet" type="text/css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/about.css">
        <link rel="stylesheet" href="css/entries.css">
        <link rel="stylesheet" href="css/syntax.css">
    </head>
    <body class="view-diamond hover-active">
        <div class="site">


          {{ content }}

        <!-- JS -->
        <!-- I have the fonts down here solely because they were preventing paints when I was on slow internet in nicaragua -->
        <script type="text/javascript" src="//use.typekit.net/iil6ecz.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <script src="{{ root_path }}js/jquery.js"></script>
        <script src="{{ root_path }}js/jquery.mousewheel.js"></script>
        <script src="{{ root_path }}js/main.js"></script>
        <script src="{{ root_path }}js/diamond.js"></script>
    </body>
</html>
