<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <!-- rad fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/entries.css">
    <!-- JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
    <script type="text/javascript" src="//use.typekit.net/iil6ecz.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="site">
      <div class="entry-content">
        {{ content }}
      </div>
    </div>
    <nav class="footer">
      <ul class="flexbox flex_space-between">
        <li class="nav-item more">
          <a href="http://www.twitter.com/duncangraham">twitter</a>
        </li>
        <li class="nav-item more center">
          <a class="char2 center" href="/index.html">V</a>
        </li>
        <li class="more nav-item right">
          <a href="/index.html">
          {% if page.previous.url %}
          <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}" class="text-uppercase space-vert">
          <span class="tk-adobe-garamond-pro browse-label tk-proxima-nova-alt-ext-cond">next:  </span>
          <span  class="">{{page.previous.title}}</span>
          </a>
          {% endif %}
          </a>
        </li>
      </ul>
    </nav>
    <script type="javascript" src="/js/jquery.js"></script>
    <script src="/js/main.js"></script>
    
  </body>
</html>