<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name=”twitter:site” content=”@duncangraham>
    <!-- rad fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/common.css">
    <!-- Icon Fonts CSS -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/dvncan.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="shortcut icon" id="favicon" href="/img/favicon.png" type="image/png">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/css/dvncan-ie7.css">
    <![endif]-->
    <!-- JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
    <script type="text/javascript" src="//use.typekit.net/iil6ecz.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script>
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');
      
      _gs('GSN-301040-Q');
    </script>
  </head>
  <body>
    <div class="site">
        {{ content }}
    </div>
    <nav class="">
      <ul class="">
        {% if page.previous.url %}
        <li class="previous nav">
          <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}" class="">
          <i class="icon-left-open-big"></i>
          <span  class="tk-adobe-garamond-pro hover-show">PREVIOUS</span>
          </a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next nav">
          <a href="{{page.next.url}}" title="Previous Post: {{page.next.title}}" class="">
          <span  class="tk-adobe-garamond-pro hover-show">NEXT</span>
          <i class="icon-right-open-big"></i>
          </a>
        </li>
        {% endif %}
        <li class="home">
          <a href="/index.html">
          <i class="icon-home"></i>
          </a>
        </li>
      </ul>
    </nav>
    <script type="javascript" src="/js/jquery.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>