---
layout: entry
---

<div class="entry-content content-spacing">
<header class="name">{{ page.title }}</header>
<article class="tk-adobe-garamond-pro space_big">
{{ content }}
</article>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://dvncan.us4.list-manage.com/subscribe/post?u=ff5fdc8c92fe8b6ba7d2e3e98&amp;id=dbd96e9798" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input type="email" value="" name="EMAIL" class="email tk-adobe-garamond-pro" id="mce-EMAIL" placeholder="enter your email to subscribe to new posts" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_ff5fdc8c92fe8b6ba7d2e3e98_dbd96e9798" value=""></div>
		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form></div><!--End mc_embed_signup-->
</div>

