body {
 margin:0px;
  padding:0px;
 font:normal 15px/20px Arial,sans-serif;
  background:#fff;
 }

 article {
  width:33.3333%;
 min-width:320px;
  position:relative;
 padding-top:40px;
  padding-bottom:33.3333%;
 }
 section {
  padding:40px;
 margin-left:40px;
  position:relative;
 transition:background 500ms, color 500ms;
  -moz-transition:background 500ms, color 500ms;
 -webkit-transition:background 500ms, color 500ms;
  }
  section,
  section a {
   color:#888;
  color:rgba(128,128,128,0);
 text-decoration:none;
  text-shadow:rgba(64,64,64,1) 0px 0px 4px;
 }
 section.active {
  background:#222;
 color:#eee;
  }
  section.active a { color:#eee; }
  section.active small { color:#aaa; }
  h1 { ont-size:2em; line-height:1em; }
  h2 { ont-size:1.3333em; }
  h1,h2 { margin:0px 0px 10px; }
  p { margin:0px; }

  .scroll {
   position:absolute;
  right:0px; :ottom:0px;
 font%;
    }
     }

     @media (min-width:1280px) {
      body {
       font-size:18px;
      line-height:24px;
     } }
